In [85]:
import os, ast, json, uuid
import numpy as np
import pandas as pd
import geopandas

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "browser"
print(pio.renderers)

Renderers configuration
-----------------------
    Default renderer: 'browser'
    Available renderers:
        ['plotly_mimetype', 'jupyterlab', 'nteract', 'vscode',
         'notebook', 'notebook_connected', 'kaggle', 'azure', 'colab',
         'cocalc', 'databricks', 'json', 'png', 'jpeg', 'jpg', 'svg',
         'pdf', 'browser', 'firefox', 'chrome', 'chromium', 'iframe',
         'iframe_connected', 'sphinx_gallery', 'sphinx_gallery_png']

In [2]:
pd.set_option('display.max_columns', None)
sns.set_theme()

In [81]:
# all path
csv_path = "C:/Users/user/root_dir/data/nct-distr/dist-report-v3.csv"
hcode_path = "data_source/new_hcode - hcodes_full_2025-06-04.csv"
hcode_bkk_path = "data_source/new_hcode - bkk_h.csv"
sale_report_path = "data_source/SaleReport_redis-2025-07-31 - Sheet1 (1).csv"
smart_inv_path ="data_source/ปริมาณสินค้าคงคลัง_ยาขาดคราว - log2.csv"
geojson_path = "data_source/districts.geojson"
dist_lt_ln_path = "C:/Users/user/root_dir/data/nct-distr/dist-report-v3.csv"
zipcode_path = "C:/Users/user/root_dir/data/nct-distr/dist_report_redis-2025-07-31 - bkk_zipcode.csv"
zipcode_json_path = "C:/Users/user/root_dir/data/nct-distr/zipcodeall.json"
geo_distric_path = "C:/Users/user/root_dir/data/geojson/districts.geojson"

In [4]:
os.getcwd()

'c:\\users\\user\\root_dir\\src\\nct_distr'

In [5]:
df = pd.read_csv(csv_path)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288522 entries, 0 to 288521
Data columns (total 25 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Unnamed: 0                                288522 non-null  int64
 1   ReportDisburseNarcoticBeYear              288522 non-null  float64
 2   ReportDisburseNarcoticMonth               288522 non-null  float64
 3   ProductTypeName                           288522 non-null  object
 4   MonthlyReportNarcoticName                 288522 non-null  object
 5   MonthlyReportNarcoticBalanceForwardValue  288522 non-null  float64
 6   MonthlyReportNarcoticReceiveValue         288522 non-null  float64
 7   MonthlyReportNarcoticPaidValue            288522 non-null  float64
 8   MonthlyReportNarcoticRemainValue          288522 non-null  float64
 9   ReferCustomerName                         288522 non-null  object
 10  CustomerAddressProvinceName               288522 non-null  object
 11  CustomerTypeName                          288522 non-null  object
 12  ReportDisburseNarcoticRecordType          288522 non-null  object
 13  CreateDateTime                            288522 non-null  object
 14  ReportDisburseNarcoticRequestorName       288522 non-null  object
 15  SendReportDate                            288522 non-null  object
 16  uuid_x                                    288522 non-null  object
 17  uuid_y                                    288522 non-null  object
 18  fullAddress                               288522 non-null  object
 19  formatted_address                         288522 non-null  object
 20  location_type                             288522 non-null  object
 21  place_id                                  288522 non-null  object
 22  lat                                       288522 non-null  float64
 23  lng                                       288522 non-null  float64
 24  types                                     288522 non-null  object
dtypes: float64(8), int64(1), object(16)
memory usage: 55.0+ MB

In [7]:
alldist_df = pd.read_csv(dist_lt_ln_path)

In [6]:
alldist_df

,Unnamed: 0,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types
0,0,2567.0,1.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Panbesy 15 mg (200 cap/bot),0.0,0.0,0.0,0.0,ทวีชัยคลินิกเวชกรรม สาขาสยามสแควร์ ซ.5,กรุงเทพมหานคร,คลินิก,ONLINE,1/02/2024 16:31 น.,นางสาว สุพัตรา สีทา,2/1/2024,b405229e-8b2e-443e-a9a2-751caedf4f33,b405229e-8b2e-443e-a9a2-751caedf4f33,392/21 ถนนพระราม 1 ซอยสยามสแควร์ซอย 5 แขวงปทุม...,"392/21 Rama I Rd, Khwaeng Pathum Wan, Pathum W...",ROOFTOP,ChIJkbFAF9Ke4jAR2R25kuntuZc,13.744776,100.534449,street_address
1,1,2567.0,1.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Duromine 15 mg (30 cap/box),0.0,0.0,0.0,0.0,ทวีชัยคลินิกเวชกรรม สาขาสยามสแควร์ ซ.5,กรุงเทพมหานคร,คลินิก,ONLINE,1/02/2024 16:31 น.,นางสาว สุพัตรา สีทา,2/1/2024,9f5cd2b7-056c-484f-95ff-c40a85503400,b405229e-8b2e-443e-a9a2-751caedf4f33,392/21 ถนนพระราม 1 ซอยสยามสแควร์ซอย 5 แขวงปทุม...,"392/21 Rama I Rd, Khwaeng Pathum Wan, Pathum W...",ROOFTOP,ChIJkbFAF9Ke4jAR2R25kuntuZc,13.744776,100.534449,street_address
2,2,2567.0,1.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Duromine 30 mg (30 cap/box),0.0,0.0,0.0,0.0,ทวีชัยคลินิกเวชกรรม สาขาสยามสแควร์ ซ.5,กรุงเทพมหานคร,คลินิก,ONLINE,1/02/2024 16:31 น.,นางสาว สุพัตรา สีทา,2/1/2024,d96c0cd3-7be2-4bab-8608-6b16d6fd6fcd,b405229e-8b2e-443e-a9a2-751caedf4f33,392/21 ถนนพระราม 1 ซอยสยามสแควร์ซอย 5 แขวงปทุม...,"392/21 Rama I Rd, Khwaeng Pathum Wan, Pathum W...",ROOFTOP,ChIJkbFAF9Ke4jAR2R25kuntuZc,13.744776,100.534449,street_address
3,3,2567.0,1.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Panbesy 30 mg (200 cap/bot),0.0,0.0,0.0,0.0,ทวีชัยคลินิกเวชกรรม สาขาสยามสแควร์ ซ.5,กรุงเทพมหานคร,คลินิก,ONLINE,1/02/2024 16:31 น.,นางสาว สุพัตรา สีทา,2/1/2024,b01028cd-6141-4602-998f-909fe8cd0d1e,b405229e-8b2e-443e-a9a2-751caedf4f33,392/21 ถนนพระราม 1 ซอยสยามสแควร์ซอย 5 แขวงปทุม...,"392/21 Rama I Rd, Khwaeng Pathum Wan, Pathum W...",ROOFTOP,ChIJkbFAF9Ke4jAR2R25kuntuZc,13.744776,100.534449,street_address
4,4,2567.0,1.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Midazolam-Hameln inj 5 mg/ml (Siam Bioscience)...,30.0,0.0,0.0,30.0,บริษัท ไทยเซเว่น เทรด จำกัด,สมุทรสาคร,ยานพาหนะที่ใช้ในการขนส่งสาธารณะระหว่างประเทศ,RECORD,28/02/2024 11:21 น.,นางสาว จริยา บัวศรี,2/28/2024,93d2c937-b153-476d-bb6e-13bb31133fbd,93d2c937-b153-476d-bb6e-13bb31133fbd,99/10 หมู่ 1 ตำบลท่าจีน อำเภอเมืองสมุทรสาคร สม...,"ท่าจีน ซอย 1 Tambon Tha Chin, Amphoe Mueang Sa...",GEOMETRIC_CENTER,ChIJf-WS7JLH4jARl9tlsgnaQEs,13.542668,100.247196,route
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288517,289500,2567.0,12.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Rohypnol tablets 1 mg (30 tab/box),1814.0,0.0,404.0,1410.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,1/28/2025,7f58a35d-b21b-417b-b688-f2552aa3032d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address"
288518,289501,2567.0,12.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Panbesy 30 mg (200 cap/bot),1816.0,0.0,313.0,1503.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,1/28/2025,1eff6069-6582-4ebc-a6e8-844cfcb556a2,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address"
288519,289502,2567.0,12.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Pseudoephedrine HCl syrup 30 mg/5 ml (60 ml/bot),1096.0,0.0,951.0,145.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,1/28/2025,5aa8d2a8-b044-4a70-8e23-177dd46c4ea2,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address"
288520,289503,2567.0,12.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,"Ephedrine HCl powder 100 g (Embio, India)",0.0,0.0,0.0,0.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,1/28/2025,53dcf2cb-4563-40cb-989f-fc677373b4d7,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address"
288521,289504,2567.0,12.0,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Ritalin tablets 10 mg (200 tab/box),3941.0,2000.0,1856.0,4085.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,1/28/2025,1d8a8696-913f-4b71-901b-b2ae1a523aec,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address"

In [8]:
alldist_df['location_type'].value_counts()

location_type
ROOFTOP               146501
APPROXIMATE            69632
GEOMETRIC_CENTER       40027
RANGE_INTERPOLATED     32362
Name: count, dtype: int64

In [9]:
alldist_df.loc[alldist_df['MonthlyReportNarcoticName'].str.contains("alprazolam", case=False)]['MonthlyReportNarcoticName'].value_counts()

MonthlyReportNarcoticName
Alprazolam tablets 0.5 mg (Polipharm)                 12179
Alprazolam tablets 0.25 mg (Polipharm)                 8278
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)     6996
Alprazolam tablets 1 mg (Pharmasant)                    570
Alprazolam tablets 0.5 mg (Pharmasant)                  156
Name: count, dtype: int64

In [10]:
alldist_alpra = alldist_df.loc[alldist_df['MonthlyReportNarcoticName'].str.contains("alprazolam", case=False)].copy()

In [11]:
alldist_alpra.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28179 entries, 6 to 288513
Data columns (total 25 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Unnamed: 0                                28179 non-null  int64
 1   ReportDisburseNarcoticBeYear              28179 non-null  float64
 2   ReportDisburseNarcoticMonth               28179 non-null  float64
 3   ProductTypeName                           28179 non-null  object
 4   MonthlyReportNarcoticName                 28179 non-null  object
 5   MonthlyReportNarcoticBalanceForwardValue  28179 non-null  float64
 6   MonthlyReportNarcoticReceiveValue         28179 non-null  float64
 7   MonthlyReportNarcoticPaidValue            28179 non-null  float64
 8   MonthlyReportNarcoticRemainValue          28179 non-null  float64
 9   ReferCustomerName                         28179 non-null  object
 10  CustomerAddressProvinceName               28179 non-null  object
 11  CustomerTypeName                          28179 non-null  object
 12  ReportDisburseNarcoticRecordType          28179 non-null  object
 13  CreateDateTime                            28179 non-null  object
 14  ReportDisburseNarcoticRequestorName       28179 non-null  object
 15  SendReportDate                            28179 non-null  object
 16  uuid_x                                    28179 non-null  object
 17  uuid_y                                    28179 non-null  object
 18  fullAddress                               28179 non-null  object
 19  formatted_address                         28179 non-null  object
 20  location_type                             28179 non-null  object
 21  place_id                                  28179 non-null  object
 22  lat                                       28179 non-null  float64
 23  lng                                       28179 non-null  float64
 24  types                                     28179 non-null  object
dtypes: float64(8), int64(1), object(16)
memory usage: 5.6+ MB

In [12]:
overall_sum_alpra = alldist_alpra.groupby(by=['MonthlyReportNarcoticName'])['MonthlyReportNarcoticPaidValue'].sum().reset_index().sort_values(by=['MonthlyReportNarcoticPaidValue'],ascending=False)

In [13]:
overall_sum_alpra

,MonthlyReportNarcoticName,MonthlyReportNarcoticPaidValue
3,Alprazolam tablets 0.5 mg (Polipharm),15814979.0
0,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,8448290.0
1,Alprazolam tablets 0.25 mg (Polipharm),7918225.5
4,Alprazolam tablets 1 mg (Pharmasant),1241.0
2,Alprazolam tablets 0.5 mg (Pharmasant),359.0

In [14]:
alldist_alpra['fullAddress'].str.extract(r'(\d+)$').info()

<class 'pandas.core.frame.DataFrame'>
Index: 28179 entries, 6 to 288513
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       28179 non-null  object
dtypes: object(1)
memory usage: 440.3+ KB

In [15]:
alldist_alpra['zip_code'] = alldist_alpra['fullAddress'].str.extract(r'(\d+)$')

In [17]:
alldist_alpra.loc[alldist_alpra['zip_code'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, ReportDisburseNarcoticBeYear, ReportDisburseNarcoticMonth, ProductTypeName, MonthlyReportNarcoticName, MonthlyReportNarcoticBalanceForwardValue, MonthlyReportNarcoticReceiveValue, MonthlyReportNarcoticPaidValue, MonthlyReportNarcoticRemainValue, ReferCustomerName, CustomerAddressProvinceName, CustomerTypeName, ReportDisburseNarcoticRecordType, CreateDateTime, ReportDisburseNarcoticRequestorName, SendReportDate, uuid_x, uuid_y, fullAddress, formatted_address, location_type, place_id, lat, lng, types, zip_code]
Index: []

In [18]:
alldist_alpra['zip_code'].value_counts().reset_index().sort_values(by=['zip_code'])

    zip_code  count
26     10100    284
1      10110    934
31     10120    265
42     10130    213
47     10140    184
..       ...    ...
88     95000     80
166    95110     36
126    95140     48
102    96000     60
331    96210     10

[341 rows x 2 columns]

In [59]:
alldist_alpra.loc[alldist_alpra['zip_code'] == '10350'].iloc[0].loc['fullAddress']

'124-126 ถนนรามคำแหง ซอยสมานมิตร แขวงสวนหลวง เขตสวนหลวง กรุงเทพมหานคร 10350'

In [19]:
df_ct_alprazip = alldist_alpra['zip_code'].value_counts().reset_index().sort_values(by=['zip_code'])

In [20]:
df_ct_alprazip

    zip_code  count
26     10100    284
1      10110    934
31     10120    265
42     10130    213
47     10140    184
..       ...    ...
88     95000     80
166    95110     36
126    95140     48
102    96000     60
331    96210     10

[341 rows x 2 columns]

In [21]:
df_ct_alprazip['zip_code'] = df_ct_alprazip['zip_code'].astype({'zip_code': 'int32'}, errors='raise')

In [22]:
df_ct_alprazip.info()

<class 'pandas.core.frame.DataFrame'>
Index: 341 entries, 26 to 331
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   zip_code  341 non-null    int32
 1   count     341 non-null    int64
dtypes: int32(1), int64(1)
memory usage: 6.7 KB

In [22]:
zipcode_df = pd.read_csv(zipcode_path)

In [26]:
zipcode_df

,เขต,รหัสไปรษณีย์,หมายเหตุ
0,คลองเตย,10110,(ไปรษณีย์พระโขนง)\n ยกเว้น แขวงพระโขนง เฉพาะซอ...
1,คลองสาน,10600,(ไปรษณีย์สำเหร่)
2,คลองสามวา,10510,(ไปรษณีย์มีนบุรี)
3,คันนายาว,10230,(ไปรษณีย์จรเข้บัว)
4,จตุจักร,10900,NaN
5,จอมทอง,10150,(ไปรษณีย์บางขุนเทียน)
6,ดอนเมือง,10210,(ไปรษณีย์หลักสี่)
7,ดินแดง,10400,(ไปรษณีย์สามเสนใน)
8,ดุสิต,10300,ยกเว้น ภายในพระราชวังดุสิต สวนจิตรลดา ใช้รหัส ...
9,ตลิ่งชัน,10170,NaN
10,ทวีวัฒนา,10170,(ไปรษณีย์ตลิ่งชัน)
11,ทุ่งครุ,10140,(ไปรษณีย์ราษฎร์บูรณะ)
12,ธนบุรี,10600,(ไปรษณีย์สำเหร่)
13,บางกอกน้อย,10700,NaN
14,บางกอกใหญ่,10600,(ไปรษณีย์สำเหร่)
15,บางกะปิ,10240,(ไปรษณีย์คลองจั่น)\n ยกเว้น แขวงหัวหมาก เฉพาะบ...
16,บางขุนเทียน,10150,NaN
17,บางเขน,10220,(ไปรษณีย์รามอินทรา)\n ยกเว้น แขวงท่าแร้ง เฉพาะ...
18,บางคอแหลม,10120,(ไปรษณีย์ยานนาวา)
19,บางแค,10160,(ไปรษณีย์ภาษีเจริญ)
20,บางซื่อ,10800,NaN
21,บางนา,10260,NaN
22,บางบอน,10150,(ไปรษณีย์บางขุนเทียน)
23,บางพลัด,10700,(ไปรษณีย์บางกอกน้อย)
24,บางรัก,10500,ยกเว้น ภายในไปรษณีย์กลาง ใช้รหัส 10501 (ไปรษณี...
25,บึงกุ่ม,10240,(ไปรษณีย์คลองจั่น)\n ยกเว้น แขวงนวลจันทร์ แขวง...
26,ประเวศ,10250,(ไปรษณีย์อ่อนนุช)
27,ปทุมวัน,10330,(ไปรษณีย์รองเมือง)
28,ป้อมปราบศัตรูพ่าย,10100,(ไปรษณีย์พลับพลาไชย)
29,พญาไท,10400,(ไปรษณีย์สามเสนใน)
30,พระโขนง,10260,(ไปรษณีย์บางนา)
31,พระนคร,10200,(ไปรษณีย์ราชดำเนิน)
32,ภาษีเจริญ,10160,NaN
33,มีนบุรี,10510,NaN
34,ยานนาวา,10120,NaN
35,ราชเทวี,10400,(ไปรษณีย์สามเสนใน)
36,ราษฎร์บูรณะ,10140,NaN
37,ลาดกระบัง,10520,NaN
38,ลาดพร้าว,10230,(ไปรษณีย์จรเข้บัว)
39,วังทองหลาง,10310,(ไปรษณีย์ลาดพร้าว)
40,วัฒนา,10110,(ไปรษณีย์พระโขนง)\n ยกเว้น แขวงพระโขนงเหนือ เฉ...
41,สวนหลวง,10250,(ไปรษณีย์อ่อนนุช)
42,สะพานสูง,10240,(ไปรษณีย์คลองจั่น)\n ยกเว้น แขวงทับช้าง ใช้รหั...
43,สัมพันธวงศ์,10100,(ไปรษณีย์พลับพลาไชย)
44,สาทร,10120,(ไปรษณีย์ยานนาวา)
45,สายไหม,10220,(ไปรษณีย์รามอินทรา)
46,หนองแขม,10160,(ไปรษณีย์ภาษีเจริญ)
47,หนองจอก,10530,NaN
48,หลักสี่,10210,ยกเว้น ศูนย์ไปรษณีย์หลักสี่ ใช้รหัส 10010 (ศูน...
49,ห้วยขวาง,10310,(ไปรษณีย์ลาดพร้าว)

In [36]:
df_ct_alprazip.merge(
    zipcode_df,
    how = "left",
    left_on = ['zip_code'],
    right_on = ['รหัสไปรษณีย์']
)

,zip_code,count,เขต,รหัสไปรษณีย์,หมายเหตุ
0,10100,284,ป้อมปราบศัตรูพ่าย,10100.0,(ไปรษณีย์พลับพลาไชย)
1,10100,284,สัมพันธวงศ์,10100.0,(ไปรษณีย์พลับพลาไชย)
2,10110,934,คลองเตย,10110.0,(ไปรษณีย์พระโขนง)\n ยกเว้น แขวงพระโขนง เฉพาะซอ...
3,10110,934,วัฒนา,10110.0,(ไปรษณีย์พระโขนง)\n ยกเว้น แขวงพระโขนงเหนือ เฉ...
4,10120,265,บางคอแหลม,10120.0,(ไปรษณีย์ยานนาวา)
...,...,...,...,...,...
360,95000,80,NaN,NaN,NaN
361,95110,36,NaN,NaN,NaN
362,95140,48,NaN,NaN,NaN
363,96000,60,NaN,NaN,NaN
364,96210,10,NaN,NaN,NaN

In [37]:
merged_df = df_ct_alprazip.merge(
    zipcode_df,
    how = "left",
    left_on = ['zip_code'],
    right_on = ['รหัสไปรษณีย์']
)

In [39]:
merged_df.loc[merged_df['เขต'].isna()]

     zip_code  count  เขต  รหัสไปรษณีย์ หมายเหตุ
7       10130    213  NaN           NaN      NaN
32      10270    268  NaN           NaN      NaN
33      10280     60  NaN           NaN      NaN
34      10290     24  NaN           NaN      NaN
39      10350     24  NaN           NaN      NaN
..        ...    ...  ...           ...      ...
360     95000     80  NaN           NaN      NaN
361     95110     36  NaN           NaN      NaN
362     95140     48  NaN           NaN      NaN
363     96000     60  NaN           NaN      NaN
364     96210     10  NaN           NaN      NaN

[315 rows x 5 columns]

In [27]:
zipcode_df.loc[zipcode_df['รหัสไปรษณีย์'] == "10130"]

NameError: name 'zipcode_df' is not defined

In [23]:
zipcode_df2 = pd.read_json(zipcode_json_path)

In [24]:
zipcode_df2['zipcode'] = zipcode_df2['data'].str.extract(r'(\d+)$')

In [25]:
zipcode_df2.astype({'zipcode': 'int32'})

                                              data  zipcode
0             ต.กกกุง อ.เมืองสรวง จ.ร้อยเอ็ด 45220    45220
1                   ต.กกดู่ อ.เมืองเลย จ.เลย 42000    42000
2                ต.กกตูม อ.ดงหลวง จ.มุกดาหาร 49140    49140
3                   ต.กกทอง อ.เมืองเลย จ.เลย 42000    42000
4                ต.กกปลาซิว อ.ภูพาน จ.สกลนคร 47180    47180
...                                            ...      ...
7443          ต.ไสไทย อ.เมืองกระบี่ จ.กระบี่ 81000    81000
7444  ต.ไหล่ทุ่ง อ.ตระการพืชผล จ.อุบลราชธานี 34130    34130
7445             ต.ไหล่น่าน อ.เวียงสา จ.น่าน 55110    55110
7446              ต.ไหล่หิน อ.เกาะคา จ.ลำปาง 52130    52130
7447             ต.ไฮหย่อง อ.พังโคน จ.สกลนคร 47160    47160

[7448 rows x 2 columns]

In [28]:
zipcode_df2.loc[zipcode_df2['data'].str.contains('สวนหลวง')]

                                                   data zipcode
4685             ต.สวนหลวง อ.อัมพวา จ.สมุทรสงคราม 75110   75110
4686           ต.สวนหลวง อ.กระทุ่มแบน จ.สมุทรสาคร 74110   74110
4687       ต.สวนหลวง อ.เขตสวนหลวง จ.กรุงเทพมหานคร 10250   10250
4688  ต.สวนหลวง อ.เฉลิมพระเกียรติ จ.นครศรีธรรมราช 80190   80190
4689        ต.สวนหลวง อ.เขตประเวศ จ.กรุงเทพมหานคร 10250   10250

In [26]:
zipcode_df2.loc[zipcode_df2['data'].str.contains('10350')]

Empty DataFrame
Columns: [data, zipcode]
Index: []

In [35]:
zipcode_df2 = zipcode_df2.astype({'zipcode': 'int32'})

In [36]:
zipcode_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7448 entries, 0 to 7447
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     7448 non-null   object
 1   zipcode  7448 non-null   int32
dtypes: int32(1), object(1)
memory usage: 145.5+ KB

In [37]:
merged_df = df_ct_alprazip.merge(
    zipcode_df2,
    how = "left",
    left_on = ['zip_code'],
    right_on = ['zipcode']
)

In [34]:
zipcode_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7448 entries, 0 to 7447
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   data     7448 non-null   object
 1   zipcode  7448 non-null   object
dtypes: object(2)
memory usage: 174.6+ KB

In [38]:
merged_df.loc[merged_df['data'].isna()]

      zip_code  count data  zipcode
142      10350     24  NaN      NaN
191      10570     57  NaN      NaN
1480     40002     48  NaN      NaN
3043     81210     12  NaN      NaN
3061      8300      7  NaN      NaN
3243      9300      4  NaN      NaN

In [80]:
zipcode_df2.loc[zipcode_df2['data'].str.contains("พิชัย")]

                                        data  zipcode    district
513        ต.คอรุม อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
1710  ต.ท่ามะเฟือง อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
1754      ต.ท่าสัก อ.พิชัย จ.อุตรดิตถ์ 53220    53220       พิชัย
2064       ต.นายาง อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
2116       ต.นาอิน อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
2899    ต.บ้านดารา อ.พิชัย จ.อุตรดิตถ์ 53220    53220       พิชัย
3057    ต.บ้านหม้อ อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
3191     ต.บ้านโคน อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
3574      ต.พญาแมน อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
3720      ต.พิชัย อ.เมืองลำปาง จ.ลำปาง 52000    52000  เมืองลำปาง
5842         ต.ห้วยพิชัย อ.ปากชม จ.เลย 42150    42150       ปากชม
7317     ต.ในเมือง อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย
7434     ต.ไร่อ้อย อ.พิชัย จ.อุตรดิตถ์ 53120    53120       พิชัย

In [72]:
alldist_alpra.loc[alldist_alpra['zip_code'] == "9300"]['fullAddress'].value_counts()

fullAddress
13/4 ถนนประชาบำรุง ตำบลคูหาสวรรค์ อำเภอเมืองพัทลุง จังหวัดพัทลุง 9300    4
Name: count, dtype: int64

In [73]:
replace_zip = {
    "10350": "10250", # แขวงสวนหลวง เขตสวนหลวง กรุงเทพมหานคร
    "10570": "10540", # ตำบลบางเสาธง อำเภอบางเสาธง สมุทรปราการ
    "40002": "40000", # ตำบลในเมือง อำเภอเมืองขอนแก่น จังหวัดขอนแก่น
    "81210": "81000", # ตำบลอ่าวนาง อำเภอเมืองกระบี่ กระบี่
    "8300": "83000", # ตำบลวิชิต อำเภอเมืองภูเก็ต ภูเก็ต
    "9300": "93000" # ตำบลคูหาสวรรค์ อำเภอเมืองพัทลุง จังหวัดพัทลุง
}

In [74]:
# \sอ.(.*)\sจ
zipcode_df2['district'] = zipcode_df2['data'].str.extract(r'\sอ.(.*)\sจ')

In [78]:
zipcode_df2['district'].isna().value_counts()

district
False    7448
Name: count, dtype: int64

In [177]:
clean_district_name = {
    "เมืองนครศรีธรรมร": "เมืองนครศรีธรรมราช",
    "เมืองสุราษฎร์ธาน": "เมืองสุราษฎร์ธานี",
    "เมืองประจวบคีรีข": "เมืองประจวบคีรีขันธ์",
    "ป่าพยอม": "ป่าพะยอม",
    "กรงปีนัง": "กรงปินัง",
    "ว่านใหญ่": "หว้านใหญ่"
}

In [178]:
reversed_district_name = {v: k for k, v in clean_district_name.items()}

In [176]:
reversed_district_name

{'นครศรีธรรมราช': 'เมืองนครศรีธรรมร',
 'เมืองสุราษฎร์ธานี': 'เมืองสุราษฎร์ธาน',
 'เมืองประจวบคีรีขันธ์': 'เมืองประจวบคีรีข',
 'ป่าพะยอม': 'ป่าพยอม',
 'ว่านใหญ่': 'หว้านใหญ่',
 'กรงปินัง': 'กรงปีนัง'}

In [179]:
zipcode_df2['district2'] = zipcode_df2['district'].str.replace(r'^เขต', '', regex=True)
zipcode_df2['district2'] = zipcode_df2['district2'].replace(reversed_district_name)

In [175]:
zipcode_df2.loc[zipcode_df2['district2'].str.contains('หว้าน')]

,data,zipcode,district,district2
753,ต.ชะโนด อ.หว้านใหญ่ จ.มุกดาหาร 49150,49150,หว้านใหญ่,หว้านใหญ่
922,ต.ดงหมู อ.หว้านใหญ่ จ.มุกดาหาร 49150,49150,หว้านใหญ่,หว้านใหญ่
2444,ต.บางทรายน้อย อ.หว้านใหญ่ จ.มุกดาหาร 49150,49150,หว้านใหญ่,หว้านใหญ่
3436,ต.ป่งขาม อ.หว้านใหญ่ จ.มุกดาหาร 49150,49150,หว้านใหญ่,หว้านใหญ่
5650,ต.หว้านใหญ่ อ.หว้านใหญ่ จ.มุกดาหาร 49150,49150,หว้านใหญ่,หว้านใหญ่

In [88]:
zipcode_df2

                                              data  zipcode     district
0             ต.กกกุง อ.เมืองสรวง จ.ร้อยเอ็ด 45220    45220    เมืองสรวง
1                   ต.กกดู่ อ.เมืองเลย จ.เลย 42000    42000     เมืองเลย
2                ต.กกตูม อ.ดงหลวง จ.มุกดาหาร 49140    49140       ดงหลวง
3                   ต.กกทอง อ.เมืองเลย จ.เลย 42000    42000     เมืองเลย
4                ต.กกปลาซิว อ.ภูพาน จ.สกลนคร 47180    47180        ภูพาน
...                                            ...      ...          ...
7443          ต.ไสไทย อ.เมืองกระบี่ จ.กระบี่ 81000    81000  เมืองกระบี่
7444  ต.ไหล่ทุ่ง อ.ตระการพืชผล จ.อุบลราชธานี 34130    34130  ตระการพืชผล
7445             ต.ไหล่น่าน อ.เวียงสา จ.น่าน 55110    55110      เวียงสา
7446              ต.ไหล่หิน อ.เกาะคา จ.ลำปาง 52130    52130       เกาะคา
7447             ต.ไฮหย่อง อ.พังโคน จ.สกลนคร 47160    47160       พังโคน

[7448 rows x 3 columns]

In [86]:
gdf = geopandas.read_file(geo_distric_path)

In [87]:
gdf

,amp_code,amp_th,amp_en,pro_code,pro_th,pro_en,reg_nesdb,reg_royin,perimeter,area_sqkm,geometry
0,9015,สิงหนคร,Singhanakhon,90,สงขลา,Songkhla,South,South,72.908500,242.316953,"MULTIPOLYGON (((100.5598 7.25212, 100.57921 7...."
1,5307,พิชัย,Phichai,53,อุตรดิตถ์,Uttaradit,UpperNorth,North,142.230752,696.360661,"MULTIPOLYGON (((100.24898 17.25566, 100.2533 1..."
2,9016,คลองหอยโข่ง,Khlong Hoi Khong,90,สงขลา,Songkhla,South,South,85.990583,303.232680,"MULTIPOLYGON (((100.38452 6.82866, 100.37891 6..."
3,5308,ลับแล,Laplae,53,อุตรดิตถ์,Uttaradit,UpperNorth,North,126.116540,467.415328,"MULTIPOLYGON (((100.07131 17.59238, 100.07699 ..."
4,9013,ควนเนียง,Khuan Niang,90,สงขลา,Songkhla,South,South,75.657535,247.904319,"MULTIPOLYGON (((100.46056 7.18613, 100.45073 7..."
...,...,...,...,...,...,...,...,...,...,...,...
923,9009,รัตภูมิ,Rattaphum,90,สงขลา,Songkhla,South,South,129.224820,665.836293,"MULTIPOLYGON (((100.21558 6.99238, 100.19406 6..."
924,3109,พุทไธสง,Phutthaisong,31,บุรีรัมย์,Buriram,Northeast,Northeast,123.506957,311.768518,"MULTIPOLYGON (((103.02838 15.43731, 103.02172 ..."
925,1402,ท่าเรือ,Tha Ruea,14,พระนครศรีอยุธยา,Phra Nakhon Si Ayutthaya,Central,Central,62.464060,108.273098,"MULTIPOLYGON (((100.7665 14.52503, 100.74895 1..."
926,1403,นครหลวง,Nakhon Luang,14,พระนครศรีอยุธยา,Phra Nakhon Si Ayutthaya,Central,Central,57.527029,138.752678,"MULTIPOLYGON (((100.63178 14.40211, 100.61433 ..."
927,1401,พระนครศรีอยุธยา,Phra Nakhon Si Ayutthaya,14,พระนครศรีอยุธยา,Phra Nakhon Si Ayutthaya,Central,Central,55.818473,118.337135,"MULTIPOLYGON (((100.54861 14.30078, 100.53669 ..."

In [180]:
merge3 = zipcode_df2.merge(
    gdf,
    how = 'left',
    left_on = 'district2',
    right_on = 'amp_th'
)

In [181]:
merge3 = merge3.drop_duplicates()

In [182]:
merge3

,data,zipcode,district,district2,amp_code,amp_th,amp_en,pro_code,pro_th,pro_en,reg_nesdb,reg_royin,perimeter,area_sqkm,geometry
0,ต.กกกุง อ.เมืองสรวง จ.ร้อยเอ็ด 45220,45220,เมืองสรวง,เมืองสรวง,4512,เมืองสรวง,Mueang Suang,45,ร้อยเอ็ด,Roi Et,Northeast,Northeast,58.122528,153.250769,"MULTIPOLYGON (((103.75082 15.73737, 103.7219 1..."
1,ต.กกดู่ อ.เมืองเลย จ.เลย 42000,42000,เมืองเลย,เมืองเลย,4201,เมืองเลย,Mueang Loei,42,เลย,Loei,Northeast,Northeast,180.264985,1271.529952,"MULTIPOLYGON (((101.76247 17.40091, 101.75396 ..."
2,ต.กกตูม อ.ดงหลวง จ.มุกดาหาร 49140,49140,ดงหลวง,ดงหลวง,4904,ดงหลวง,Dong Luang,49,มุกดาหาร,Mukdahan,Northeast,Northeast,218.006461,897.704792,"MULTIPOLYGON (((104.57583 16.75619, 104.55689 ..."
3,ต.กกทอง อ.เมืองเลย จ.เลย 42000,42000,เมืองเลย,เมืองเลย,4201,เมืองเลย,Mueang Loei,42,เลย,Loei,Northeast,Northeast,180.264985,1271.529952,"MULTIPOLYGON (((101.76247 17.40091, 101.75396 ..."
4,ต.กกปลาซิว อ.ภูพาน จ.สกลนคร 47180,47180,ภูพาน,ภูพาน,4718,ภูพาน,Phu Phan,47,สกลนคร,Sakon Nakhon,Northeast,Northeast,129.667665,708.302704,"MULTIPOLYGON (((104.05005 16.86694, 104.04235 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7541,ต.ไสไทย อ.เมืองกระบี่ จ.กระบี่ 81000,81000,เมืองกระบี่,เมืองกระบี่,8101,เมืองกระบี่,Mueang Krabi,81,กระบี่,Krabi,South,South,203.160867,906.857059,"MULTIPOLYGON (((98.86454 7.61216, 98.86241 7.6..."
7542,ต.ไหล่ทุ่ง อ.ตระการพืชผล จ.อุบลราชธานี 34130,34130,ตระการพืชผล,ตระการพืชผล,3411,ตระการพืชผล,Trakan Phuet Phon,34,อุบลราชธานี,Ubon Ratchathani,Northeast,Northeast,173.952730,1029.512650,"MULTIPOLYGON (((105.20037 15.54484, 105.2017 1..."
7543,ต.ไหล่น่าน อ.เวียงสา จ.น่าน 55110,55110,เวียงสา,เวียงสา,5507,เวียงสา,Wiang Sa,55,น่าน,Nan,UpperNorth,North,269.285521,2162.662327,"MULTIPOLYGON (((101.09153 18.49925, 101.09338 ..."
7544,ต.ไหล่หิน อ.เกาะคา จ.ลำปาง 52130,52130,เกาะคา,เกาะคา,5203,เกาะคา,Ko Kha,52,ลำปาง,Lampang,UpperNorth,North,114.341203,513.552125,"MULTIPOLYGON (((99.43166 18.12897, 99.43495 18..."
7545,ต.ไฮหย่อง อ.พังโคน จ.สกลนคร 47160,47160,พังโคน,พังโคน,4705,พังโคน,Phang Khon,47,สกลนคร,Sakon Nakhon,Northeast,Northeast,95.475904,267.787661,"MULTIPOLYGON (((103.78722 17.36463, 103.77193 ..."

In [183]:
merge3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7546 entries, 0 to 7545
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       7546 non-null   object
 1   zipcode    7546 non-null   int32
 2   district   7546 non-null   object
 3   district2  7546 non-null   object
 4   amp_code   7546 non-null   object
 5   amp_th     7546 non-null   object
 6   amp_en     7546 non-null   object
 7   pro_code   7546 non-null   object
 8   pro_th     7546 non-null   object
 9   pro_en     7546 non-null   object
 10  reg_nesdb  7546 non-null   object
 11  reg_royin  7546 non-null   object
 12  perimeter  7546 non-null   float64
 13  area_sqkm  7546 non-null   float64
 14  geometry   7546 non-null   geometry
dtypes: float64(2), geometry(1), int32(1), object(11)
memory usage: 854.9+ KB

In [184]:
merge3.loc[merge3['amp_th'].isna()]['district'].value_counts().reset_index()

Empty DataFrame
Columns: [district, count]
Index: []

In [168]:
gdf.loc[gdf['amp_th'].str.contains("เมืองนครศรีธรรมร")].iloc[0,1]

'เมืองนครศรีธรรมร'

In [97]:
merge3.loc[merge3['district'] == "เมืองนครศรีธรรมราช"]

,data,zipcode,district,amp_code,amp_th,amp_en,pro_code,pro_th,pro_en,reg_nesdb,reg_royin,perimeter,area_sqkm,geometry
149,ต.กำแพงเซา อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมรา...,80280,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
476,ต.คลัง อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช 80000,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1639,ต.ท่างิ้ว อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช...,80280,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1671,ต.ท่าซัก อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1760,ต.ท่าวัง อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1827,ต.ท่าเรือ อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช...,80290,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1864,ต.ท่าไร่ อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2037,ต.นาทราย อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80280,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2160,ต.นาเคียน อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2446,ต.บางจาก อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80330,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3405,ต.ปากนคร อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3429,ต.ปากพูน อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช ...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3873,ต.มะม่วงสองต้น อ.เมืองนครศรีธรรมราช จ.นครศรีธร...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7289,ต.โพธิ์เสด็จ อ.เมืองนครศรีธรรมราช จ.นครศรีธรรม...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7395,ต.ในเมือง อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมราช...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7429,ต.ไชยมนตรี อ.เมืองนครศรีธรรมราช จ.นครศรีธรรมรา...,80000,เมืองนครศรีธรรมราช,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [140]:
gdf.loc[gdf['pro_th'].str.contains("ยะลา")]

,amp_code,amp_th,amp_en,pro_code,pro_th,pro_en,reg_nesdb,reg_royin,perimeter,area_sqkm,geometry
203,9501,เมืองยะลา,Mueang Yala,95,ยะลา,Yala,South,South,105.766147,318.639770,"MULTIPOLYGON (((101.284 6.46851, 101.2747 6.46..."
204,9502,เบตง,Betong,95,ยะลา,Yala,South,South,223.209409,1317.025540,"MULTIPOLYGON (((101.20482 5.65994, 101.19507 5..."
207,9507,กาบัง,Kabang,95,ยะลา,Yala,South,South,115.893733,442.371566,"MULTIPOLYGON (((101.07802 6.39815, 101.0734 6...."
209,9508,กรงปีนัง,Krong Pinang,95,ยะลา,Yala,South,South,77.592890,182.877579,"MULTIPOLYGON (((101.26698 6.36311, 101.28203 6..."
212,9505,ยะหา,Yaha,95,ยะลา,Yala,South,South,116.927118,470.290856,"MULTIPOLYGON (((101.19332 6.36874, 101.19939 6..."
214,9506,รามัน,Raman,95,ยะลา,Yala,South,South,114.078097,481.541878,"MULTIPOLYGON (((101.41191 6.3965, 101.42024 6...."
217,9503,บันนังสตา,Bannang Sata,95,ยะลา,Yala,South,South,139.126644,580.540839,"MULTIPOLYGON (((101.38352 6.18615, 101.38671 6..."
219,9504,ธารโต,Than To,95,ยะลา,Yala,South,South,161.508912,673.980914,"MULTIPOLYGON (((101.41148 6.15752, 101.41518 6..."

In [103]:
gdf2 = geopandas.read_file("C:/Users/user/root_dir/data/geojson/geoBoundaries-THA-ADM0.geojson")

In [104]:
gdf2

,shapeName,shapeISO,shapeID,shapeGroup,shapeType,geometry
0,Thailand,THA,76911100B81675122338640,THA,ADM0,"MULTIPOLYGON (((99.30671 6.49585, 99.30648 6.4..."