<h1> Purposes </h1>
<p>this file is the main visualize and wrangling processesplease refer to table of content</p>
<p> the full df should contain: </p>
<li> - "dn_internal" for internal validity, </li>
<li> - "report_ce_year" for parsed report eomonth,</li>
<li> - "nominal weight" for calculated strength * paid value</li>

In [1]:
import os, ast, json, uuid, re
from itertools import combinations
from scipy import stats
import numpy as np
import pandas as pd
import geopandas

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
from plotly.colors import n_colors
import plotly.io as pio
pio.renderers.default = "browser"
print(pio.renderers)

Renderers configuration
-----------------------
    Default renderer: 'browser'
    Available renderers:
        ['plotly_mimetype', 'jupyterlab', 'nteract', 'vscode',
         'notebook', 'notebook_connected', 'kaggle', 'azure', 'colab',
         'cocalc', 'databricks', 'json', 'png', 'jpeg', 'jpg', 'svg',
         'pdf', 'browser', 'firefox', 'chrome', 'chromium', 'iframe',
         'iframe_connected', 'sphinx_gallery', 'sphinx_gallery_png']

In [30]:
pd.set_option('display.max_columns', None)
sns.set_theme()

In [25]:
# path for work place
csv_path = "C:/Users/user/Downloads/dist-rep-wran-ampcode-v4.csv"
geo_distric_path = "C:/Users/user/root_dir/data/geojson/districts.geojson"

In [94]:
os.getcwd()

'D:\\Onedrive\\SynMAR2020\\GitHub\\nct_dist\\nct_distr'

In [27]:
csv_path = "C:/Users/ASUS/Downloads/dist-rep-wran-ampcode-v4.csv"
geo_distric_path = "data_source/districts.geojson"
geo_province_path = "C:/Users/ASUS/Downloads/provinces.geojson"

In [28]:
df = pd.read_csv(csv_path)

In [7]:
df.drop(["Unnamed: 0.1", "Unnamed: 0"], axis=1, inplace=True)

In [76]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31

In [11]:
df['report_ce_year'] = df['ReportDisburseNarcoticBeYear']-543

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28179 entries, 0 to 28178
Data columns (total 27 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ReportDisburseNarcoticBeYear              28179 non-null  float64
 1   ReportDisburseNarcoticMonth               28179 non-null  float64
 2   ProductTypeName                           28179 non-null  object
 3   MonthlyReportNarcoticName                 28179 non-null  object
 4   MonthlyReportNarcoticBalanceForwardValue  28179 non-null  float64
 5   MonthlyReportNarcoticReceiveValue         28179 non-null  float64
 6   MonthlyReportNarcoticPaidValue            28179 non-null  float64
 7   MonthlyReportNarcoticRemainValue          28179 non-null  float64
 8   ReferCustomerName                         28179 non-null  object
 9   CustomerAddressProvinceName               28179 non-null  object
 10  CustomerTypeName                          28179 non-null  object
 11  ReportDisburseNarcoticRecordType          28179 non-null  object
 12  CreateDateTime                            28179 non-null  object
 13  ReportDisburseNarcoticRequestorName       28179 non-null  object
 14  SendReportDate                            28179 non-null  object
 15  uuid_x                                    28179 non-null  object
 16  uuid_y                                    28179 non-null  object
 17  fullAddress                               28179 non-null  object
 18  formatted_address                         28179 non-null  object
 19  location_type                             28179 non-null  object
 20  place_id                                  28179 non-null  object
 21  lat                                       28179 non-null  float64
 22  lng                                       28179 non-null  float64
 23  types                                     28179 non-null  object
 24  zip_code                                  28179 non-null  int64
 25  district_name                             28179 non-null  object
 26  amp_code                                  28179 non-null  int64
dtypes: float64(8), int64(2), object(17)
memory usage: 5.8+ MB

In [12]:
df['ReportDisburseNarcoticMonth'] = df['ReportDisburseNarcoticMonth'].round(0).astype(int).astype(str)

In [13]:
df['report_ce_year'] = df['report_ce_year'].round(0).astype(int).astype(str)
df['report_ce_year'] = df['report_ce_year'] + '-' + df['ReportDisburseNarcoticMonth']
df['report_ce_year'] = pd.to_datetime(df['report_ce_year'], format='%Y-%m')
df['report_ce_year'] = df['report_ce_year'] + pd.offsets.MonthEnd(0)
df['report_ce_year']

0       2024-01-31
1       2024-01-31
2       2024-01-31
3       2024-01-31
4       2024-01-31
           ...
28174   2024-12-31
28175   2024-12-31
28176   2024-12-31
28177   2024-12-31
28178   2024-12-31
Name: report_ce_year, Length: 28179, dtype: datetime64[ns]

In [14]:
df['SendReportDate'] = pd.to_datetime(df['SendReportDate'])

In [55]:
df['SendReportDate'].min()

Timestamp('2024-01-29 00:00:00')

In [56]:
df['SendReportDate'].max()

Timestamp('2025-06-05 00:00:00')

In [11]:
sum_paid_df = df.groupby(by=['MonthlyReportNarcoticName'])['MonthlyReportNarcoticPaidValue'].sum().reset_index().sort_values(by=['MonthlyReportNarcoticPaidValue'],ascending=False)

In [12]:
sum_paid_df

,MonthlyReportNarcoticName,MonthlyReportNarcoticPaidValue
3,Alprazolam tablets 0.5 mg (Polipharm),15814979.0
0,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,8448290.0
1,Alprazolam tablets 0.25 mg (Polipharm),7918225.5
4,Alprazolam tablets 1 mg (Pharmasant),1241.0
2,Alprazolam tablets 0.5 mg (Pharmasant),359.0

In [12]:
ct_df = df['MonthlyReportNarcoticName'].value_counts().reset_index()

In [13]:
ct_df.sum()

MonthlyReportNarcoticName    Alprazolam tablets 0.5 mg (Polipharm)Alprazola...
count                                                                    28179
dtype: object

In [13]:
merge1 = sum_paid_df.merge(
    ct_df,
    how = 'left',
    left_on = ['MonthlyReportNarcoticName'],
    right_on = ['MonthlyReportNarcoticName'],
    validate = '1:1'
)

In [15]:
merge1

,MonthlyReportNarcoticName,MonthlyReportNarcoticPaidValue,count
0,Alprazolam tablets 0.5 mg (Polipharm),15814979.0,12179
1,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,8448290.0,6996
2,Alprazolam tablets 0.25 mg (Polipharm),7918225.5,8278
3,Alprazolam tablets 1 mg (Pharmasant),1241.0,570
4,Alprazolam tablets 0.5 mg (Pharmasant),359.0,156

In [14]:
merge1['customer_name_ctd'] = np.nan

<h1>Assembly all aggregate</h1>

In [15]:
for i,v in merge1.iterrows():
    nn = v['MonthlyReportNarcoticName']
    nunique = df.loc[df['MonthlyReportNarcoticName'] == nn]['ReferCustomerName'].nunique()
    merge1.loc[i, 'customer_name_ctd'] = nunique

In [17]:
merge1

,MonthlyReportNarcoticName,MonthlyReportNarcoticPaidValue,count,customer_name_ctd
0,Alprazolam tablets 0.5 mg (Polipharm),15814979.0,12179,1056.0
1,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,8448290.0,6996,606.0
2,Alprazolam tablets 0.25 mg (Polipharm),7918225.5,8278,724.0
3,Alprazolam tablets 1 mg (Pharmasant),1241.0,570,48.0
4,Alprazolam tablets 0.5 mg (Pharmasant),359.0,156,13.0

In [16]:
recordtype_df = df['ReportDisburseNarcoticRecordType'].value_counts().reset_index()

In [19]:
recordtype_df

  ReportDisburseNarcoticRecordType  count
0                           RECORD  18336
1                           ONLINE   9843

<h1>Plot pie chart Alprazolam distribution reports by record types</h1>

In [36]:
fig = px.pie(
    recordtype_df,
    values= 'count',
    names='ReportDisburseNarcoticRecordType',
    title = 'Alprazolam distribution reports by record types'
)
fig.update_traces(textposition='inside', textinfo='percent+label', textfont_size=30)
fig.show()

<h1>Plot time-series chart with send report date vs. month report date(ce)</h1>

In [20]:
sum_paid_ts = df.groupby(by = ['report_ce_year'])['MonthlyReportNarcoticPaidValue'].sum()

In [21]:
sum_paid_ts = sum_paid_ts.reset_index()

In [56]:
sum_paid_ts['type'] = 'total paid'

In [57]:
sum_paid_ts

   report_ce_year      value        type
0      2024-01-31  2829715.0  total paid
1      2024-02-29  2769744.5  total paid
2      2024-03-31  2857537.0  total paid
3      2024-04-30  2734795.0  total paid
4      2024-05-31  2763570.0  total paid
5      2024-06-30  2641433.0  total paid
6      2024-07-31  2691836.5  total paid
7      2024-08-31  2642512.0  total paid
8      2024-09-30  2412434.5  total paid
9      2024-10-31  2661542.5  total paid
10     2024-11-30  2610613.5  total paid
11     2024-12-31  2567361.0  total paid

In [41]:
sum_paid_ts.rename(columns={"MonthlyReportNarcoticPaidValue": "value"}, inplace=True)

In [42]:
ctd_hos_ts = sum_paid_ts.copy()

In [43]:
ctd_hos_ts['ctd'] = 'ctd'

In [44]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31

In [47]:
for i, v in enumerate(ctd_hos_ts['report_ce_year']):
    ts = df.loc[df['report_ce_year'] == v]
    ctd_hos_ts.at[i, 'ctd'] = ts['ReferCustomerName'].nunique(dropna=True)

In [52]:
ctd_hos_ts['type'] = 'ctd'
ctd_hos_ts.rename(columns={'ctd':'value'})
ctd_hos_ts

   report_ce_year   ctd type
0      2024-01-31  1191  ctd
1      2024-02-29  1192  ctd
2      2024-03-31  1191  ctd
3      2024-04-30  1183  ctd
4      2024-05-31  1188  ctd
5      2024-06-30  1187  ctd
6      2024-07-31  1179  ctd
7      2024-08-31  1178  ctd
8      2024-09-30  1169  ctd
9      2024-10-31  1160  ctd
10     2024-11-30  1136  ctd
11     2024-12-31  1123  ctd

In [53]:
ctd_hos_ts.rename(columns={'ctd':'value'},inplace=True)

In [54]:
ctd_hos_ts

   report_ce_year value type
0      2024-01-31  1191  ctd
1      2024-02-29  1192  ctd
2      2024-03-31  1191  ctd
3      2024-04-30  1183  ctd
4      2024-05-31  1188  ctd
5      2024-06-30  1187  ctd
6      2024-07-31  1179  ctd
7      2024-08-31  1178  ctd
8      2024-09-30  1169  ctd
9      2024-10-31  1160  ctd
10     2024-11-30  1136  ctd
11     2024-12-31  1123  ctd

In [33]:
sum_paid_ts

   report_ce_year      value        type
0      2024-01-31  2829715.0  total paid
1      2024-02-29  2769744.5  total paid
2      2024-03-31  2857537.0  total paid
3      2024-04-30  2734795.0  total paid
4      2024-05-31  2763570.0  total paid
5      2024-06-30  2641433.0  total paid
6      2024-07-31  2691836.5  total paid
7      2024-08-31  2642512.0  total paid
8      2024-09-30  2412434.5  total paid
9      2024-10-31  2661542.5  total paid
10     2024-11-30  2610613.5  total paid
11     2024-12-31  2567361.0  total paid

In [58]:
ct_ts = df['report_ce_year'].value_counts().reset_index()

In [59]:
ct_ts['type'] = 'ct'
ct_ts.rename(columns={"count":"value"}, inplace=True)
ct_ts

   report_ce_year  value type
0      2024-05-31   2376   ct
1      2024-03-31   2374   ct
2      2024-02-29   2372   ct
3      2024-06-30   2370   ct
4      2024-04-30   2365   ct
5      2024-01-31   2365   ct
6      2024-08-31   2365   ct
7      2024-07-31   2358   ct
8      2024-09-30   2344   ct
9      2024-10-31   2335   ct
10     2024-11-30   2290   ct
11     2024-12-31   2265   ct

In [60]:
sum_paid_ts = pd.concat([sum_paid_ts,ct_ts,ctd_hos_ts])
sum_paid_ts

   report_ce_year      value        type
0      2024-01-31  2829715.0  total paid
1      2024-02-29  2769744.5  total paid
2      2024-03-31  2857537.0  total paid
3      2024-04-30  2734795.0  total paid
4      2024-05-31  2763570.0  total paid
5      2024-06-30  2641433.0  total paid
6      2024-07-31  2691836.5  total paid
7      2024-08-31  2642512.0  total paid
8      2024-09-30  2412434.5  total paid
9      2024-10-31  2661542.5  total paid
10     2024-11-30  2610613.5  total paid
11     2024-12-31  2567361.0  total paid
0      2024-05-31       2376          ct
1      2024-03-31       2374          ct
2      2024-02-29       2372          ct
3      2024-06-30       2370          ct
4      2024-04-30       2365          ct
5      2024-01-31       2365          ct
6      2024-08-31       2365          ct
7      2024-07-31       2358          ct
8      2024-09-30       2344          ct
9      2024-10-31       2335          ct
10     2024-11-30       2290          ct
11     2024-12-31       2265          ct
0      2024-01-31       1191         ctd
1      2024-02-29       1192         ctd
2      2024-03-31       1191         ctd
3      2024-04-30       1183         ctd
4      2024-05-31       1188         ctd
5      2024-06-30       1187         ctd
6      2024-07-31       1179         ctd
7      2024-08-31       1178         ctd
8      2024-09-30       1169         ctd
9      2024-10-31       1160         ctd
10     2024-11-30       1136         ctd
11     2024-12-31       1123         ctd

In [37]:
sum_paid_ts = sum_paid_ts.sort_values(by = ['report_ce_year','type']).reset_index(drop=True)
sum_paid_ts

   report_ce_year      value        type
0      2024-01-31     2365.0          ct
1      2024-01-31  2829715.0  total paid
2      2024-02-29     2372.0          ct
3      2024-02-29  2769744.5  total paid
4      2024-03-31     2374.0          ct
5      2024-03-31  2857537.0  total paid
6      2024-04-30     2365.0          ct
7      2024-04-30  2734795.0  total paid
8      2024-05-31     2376.0          ct
9      2024-05-31  2763570.0  total paid
10     2024-06-30     2370.0          ct
11     2024-06-30  2641433.0  total paid
12     2024-07-31     2358.0          ct
13     2024-07-31  2691836.5  total paid
14     2024-08-31     2365.0          ct
15     2024-08-31  2642512.0  total paid
16     2024-09-30     2344.0          ct
17     2024-09-30  2412434.5  total paid
18     2024-10-31     2335.0          ct
19     2024-10-31  2661542.5  total paid
20     2024-11-30     2290.0          ct
21     2024-11-30  2610613.5  total paid
22     2024-12-31     2265.0          ct
23     2024-12-31  2567361.0  total paid

In [61]:
sum_paid_ts_piv = sum_paid_ts.pivot(index='report_ce_year', columns = 'type', values ='value')
sum_paid_ts_piv.to_csv('C:/Users/ASUS/Downloads/sum_paid_ts_piv.csv')

In [47]:
fig = px.line(
    sum_paid_ts,
    x = "report_ce_year",
    y = "value",
    color = "type"
)

# Loop through the traces and assign the secondary y-axis to the specific type
for trace in fig.data:
    if trace.name == 'ct':
        trace.update(yaxis='y2')

# Update the layout to add the secondary y-axis
fig.update_layout(
    yaxis=dict(
        title='Left Y-Axis Title',
        side='left',
    ),
    yaxis2=dict(
        title='Right Y-Axis Title',
        overlaying='y',
        side='right',
    )
)

fig.show()

<h2>Updates with subplot line and bar</h2>

In [52]:
sum_paid_ts[sum_paid_ts['type'] =='ct']['value']

0     2365.0
2     2372.0
4     2374.0
6     2365.0
8     2376.0
10    2370.0
12    2358.0
14    2365.0
16    2344.0
18    2335.0
20    2290.0
22    2265.0
Name: value, dtype: float64

In [58]:
fig = make_subplots(specs=[[{"secondary_y": True}]])

fig.add_trace(
    go.Scatter(
        x=sum_paid_ts[sum_paid_ts['type'] == 'total paid']['report_ce_year'],
        y=sum_paid_ts[sum_paid_ts['type'] == 'total paid']['value'],
        mode='lines+markers',
        name='total paid',
    ),
    secondary_y=False,
)

fig.add_trace(
    go.Bar(
        x=sum_paid_ts[sum_paid_ts['type'] =='ct']['report_ce_year'],
        y=sum_paid_ts[sum_paid_ts['type'] =='ct']['value'],
        name='ct',
    ),
    secondary_y=True,
)

fig.update_layout(
    title='Combined Line and Bar Chart',
    xaxis_title='Report Year-month',
    yaxis_title='จำนวนยอดจ่ายยา Alprazolam ทั้งหมด',
    yaxis2= {
        "title": "จำนวนบันทึก",
        "overlaying": 'y',
        "side": 'right',
        "range": [2000,4000]
    },
)

fig.show()

<h2>Updates with facet plot line and bar</h2>

In [73]:
fig = make_subplots(rows=2, cols=1, shared_xaxes=True, vertical_spacing=0.01)

fig.add_trace(
    go.Scatter(
        x=sum_paid_ts[sum_paid_ts['type'] == 'total paid']['report_ce_year'],
        y=sum_paid_ts[sum_paid_ts['type'] == 'total paid']['value'],
        mode='lines+markers',
        name='total paid',
    ),
     row=1, col=1
)

fig.add_trace(
    go.Bar(
        x=sum_paid_ts[sum_paid_ts['type'] =='ct']['report_ce_year'],
        y=sum_paid_ts[sum_paid_ts['type'] =='ct']['value'],
        name='ct',
        text= sum_paid_ts[sum_paid_ts['type'] =='ct']['value'],
        textposition='inside',
        textfont = {
            "color": "#ffffff"
        }
    ),
    row=2, col=1,
)

fig.update_layout(
    title='รวมยอดจ่าย Alprazolam (top) และ จำนวนบันทึกรายงานการกระจาย (bottom) จำแนกตามเดือนที่รายงาน (x-axis: Report Year-month)',
    yaxis2={
        "side":'right',
        "range": [2250,2380],
        "title": "จำนวนบันทึก"
    },
    yaxis_title='จำนวนยอดจ่ายยา Alprazolam ทั้งหมด'
)

fig.write_html('C:/Users/ASUS/Downloads/sum_paid_ts2025-09-26.html')
fig.show()

<h1>Plot Chloropleth maps</h1>

<h2>Load geo json province and district</h2>

In [1]:
# load geojson data
with open(geo_province_path, 'r', encoding='utf-8-sig') as f:
    geojson_province_data = json.load(f)

NameError: name 'geo_province_path' is not defined

In [ ]:
with open(geo_distric_path, 'r', encoding='utf-8-sig') as f:
    geojson_district_data = json.load(f)

In [ ]:
gdf_province = geopandas.read_file(geo_province_path)

In [ ]:
gdf_district = geopandas.read_file(geo_distric_path)

In [ ]:
gdf_province

<h2>Check province name th</h2>

In [ ]:
df

In [ ]:
df.loc[df['CustomerAddressProvinceName'].str.contains('สุโขทัย')]

In [ ]:
df['CustomerAddressProvinceName'].value_counts()

In [ ]:
merge_pro_th_df = df.merge(gdf_province[['pro_code','pro_th']],
    how = 'left',
    left_on = ["CustomerAddressProvinceName"],
    right_on = ["pro_th"],
    validate = 'm:1',
    indicator = True
)

In [ ]:
merge_pro_th_df['_merge'].value_counts()

In [ ]:
merge_pro_th_df.loc[merge_pro_th_df['pro_th'].isna()]

<h2>provide aggregate for province name plot</h2>

In [ ]:
agg1 = df['CustomerAddressProvinceName'].value_counts().reset_index().sort_values(by=['count'], ascending=False)
agg1

In [ ]:
sum_prov = df.groupby(by= ['CustomerAddressProvinceName'])['MonthlyReportNarcoticPaidValue'].sum().sort_values(ascending=False).reset_index()
sum_prov

In [ ]:
agg1 = agg1.merge(
    sum_prov,
    how = 'left',
    left_on = ['CustomerAddressProvinceName'],
    right_on = ['CustomerAddressProvinceName'],
    validate = '1:1'
)
agg1

In [ ]:
agg1['ctd'] = np.nan
for i, v in agg1.iterrows():
    pvn = v['CustomerAddressProvinceName']
    floc = df.loc[df['CustomerAddressProvinceName'] ==pvn]['ReferCustomerName'].nunique()
    agg1.at[i,'ctd'] = floc

In [ ]:
agg1

In [ ]:
agg1['density'] = agg1['MonthlyReportNarcoticPaidValue']/agg1['ctd']

In [ ]:
agg1

In [ ]:
agg1.isna().sum()

In [ ]:
gdf_province

<h2>Plot Province data (feature: pro_th)</h2>

In [ ]:
fig = px.choropleth_map(
    agg1,
    geojson = geojson_province_data,
    featureidkey="properties.pro_th",
    locations = 'CustomerAddressProvinceName',
    color = 'density',
    color_continuous_scale="Brwnyl",
    center={
    'lat': 16,
    'lon': 101
    }
)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#c2c6cc"
        }
    }
)
fig.update_layout(title="อัตราการรายงานยอดจ่าย Alprazolam ต่อ 1 สถานพยาบาล")
fig.write_html('C:/Users/ASUS/Downloads/agg1_province_density2025-09-26.html')
fig.show()

In [ ]:
gdf_district

<h2>Prepare District level's data (feature: amp_code)</h2>

<h3>Prepare District level's data (feature: amp_code) using internal validity approach (since external validity has been confirmed.)</h2>

In [ ]:
df['amp_code'].isna().sum()

In [ ]:
df.loc[df['district_name'] == 'nan']

In [ ]:
ct_dn_df = df[['district_name','amp_code']].value_counts().reset_index()

In [ ]:
ct_dn_df

In [ ]:
ct_check = ct_dn_df['amp_code'].value_counts().reset_index()
ct_check.loc[ct_check['count'] >1]

In [ ]:
ct_dn_df.loc[ct_dn_df['amp_code'] == 1027]

In [ ]:
dn1 = df['fullAddress'].str.extract(r'อำเภอ(.+?)\s')
dn2 = df['fullAddress'].str.extract(r'เขต(.+?)\s')
dn = dn1.combine_first(dn2)

In [ ]:
df['dn_internal'] = dn

In [ ]:
s_amp_code = df[['fullAddress','district_name','amp_code','dn_internal','CustomerAddressProvinceName']]

In [ ]:
amp_code_right = gdf_district[['amp_code','amp_th','pro_th']].drop_duplicates()

In [ ]:
amp_code_right

In [ ]:
merge_amp = s_amp_code.merge(
    amp_code_right,
    how = 'left',
    left_on = ['dn_internal','CustomerAddressProvinceName'],
    right_on = ['amp_th', 'pro_th'],
    validate = 'm:1',
    indicator = True
)

In [ ]:
merge_amp['pro_th'].isna().sum()

In [ ]:
merge_amp.info()

In [ ]:
merge_amp['_merge'].value_counts()

In [ ]:
merge_amp.loc[merge_amp['_merge'] == 'left_only']

In [ ]:
merge_amp['_merge'].value_counts()

In [ ]:
merge_amp_na = merge_amp.loc[merge_amp['_merge'] == 'left_only'].drop(['_merge', 'amp_code_y','amp_th', 'pro_th'], axis=1)

In [ ]:
merge_amp_na

In [ ]:
merge_amp_na2 = merge_amp_na.merge(
    amp_code_right,
    how = 'left',
    left_on = ['district_name','CustomerAddressProvinceName'],
    right_on = ['amp_th', 'pro_th'],
    validate = 'm:1',
    indicator = True
)

In [ ]:
merge_amp_na2.set_index(merge_amp_na.index, inplace=True)

In [ ]:
merge_amp_na2

In [ ]:
merge_amp.dropna(subset =['amp_code_y'], inplace=True)

In [ ]:
merge_amp_na2.rename(columns={"amp_code":"amp_code_y"}, inplace=True)
merge_amp_na2

In [ ]:
merge_amp3 = pd.concat([merge_amp,merge_amp_na2]).sort_index()

In [ ]:
merge_amp3

In [ ]:
merge_amp3['amp_code_y'].isna().sum()

In [ ]:
gdf_district

<h3>recheck internal validity</h3>

In [ ]:
s_amp_code = s_amp_code.merge(
    gdf_district[['amp_code','amp_th']].drop_duplicates(subset=['amp_th']),
    how = 'left',
    left_on = ['district_name'],
    right_on = ['amp_th'],
    validate = 'm:1',
    indicator= True
)

In [ ]:
s_amp_code['_merge'].value_counts()

In [ ]:
s_amp_code['amp_th'].value_counts()

In [ ]:
s_amp_code

In [ ]:
# merge back
df['amp_th'] = s_amp_code['amp_th']
df['amp_code2'] = s_amp_code['amp_code']

<h3>reheck back with external validate ampcode</h3>

In [ ]:
df.info()

In [ ]:
df['isValid'] = df['amp_code'].eq(df['amp_code2'].astype('int64'))

In [ ]:
df.loc[df['isValid'] == False]['amp_th'].value_counts()

In [ ]:
df.loc[(df['isValid'] == False) & (df['amp_th'] == 'เมืองระยอง')]

In [ ]:
gdf_district.loc[gdf_district['amp_th'] == 'จอมทอง']

In [ ]:
# must clean as a full address, distric, amp_code triplet

In [ ]:
df.info()

In [ ]:
# clean จอมทอง
clean_jomthong_df = df[['fullAddress','amp_th', 'CustomerAddressProvinceName','amp_code2']]

In [ ]:
clean_jomthong_df.loc[clean_jomthong_df['amp_th'] =='จอมทอง']

In [ ]:
clean_jomthong_df.info()

In [ ]:
lamb_JT = lambda x,y : 5002 if (x == 'เชียงใหม่' and y== 'จอมทอง') else 1035 if y== 'จอมทอง' else y

In [ ]:
clean_jomthong_df['amp_code3'] = clean_jomthong_df.apply(
    lambda row: 5002 if (row['CustomerAddressProvinceName'] == 'เชียงใหม่' and row['amp_th'] == 'จอมทอง') 
                else 1035 if row['amp_th'] == 'จอมทอง' 
                else row['amp_code2'],
    axis=1
)

In [ ]:
clean_jomthong_df.loc[clean_jomthong_df['amp_code2'] != clean_jomthong_df['amp_code3']]

In [ ]:
df.loc[df['district_name'] == 'เมืองอุดรธานี'][['fullAddress','district_name','amp_code']].drop_duplicates()

In [ ]:
gdf_district.loc[gdf_district['amp_th'].str.contains('วิเศษชัยชาญ')]

<h2>Plot District level's data feature on amp_code</h2>

<h3>provide agregate for district</h3>

In [ ]:
merge_amp3

In [ ]:
# merge back amp_code2
df['amp_code2'] = merge_amp3['amp_code_y']

In [ ]:
merge_amp3.loc[1]

In [ ]:
agg2 = df['amp_code2'].value_counts().reset_index()

In [ ]:
agg2

In [ ]:
agg2 = agg2.merge(
    gdf_district[['amp_code','pro_th','amp_th']],
    how = 'left',
    left_on = ['amp_code2'],
    right_on = ['amp_code'],
    validate = '1:1',
    indicator = True
)

In [ ]:
agg2['_merge'].value_counts()

In [ ]:
df

In [ ]:
sum_paid_district = df.groupby(by=['amp_code2'])['MonthlyReportNarcoticPaidValue'].sum().reset_index()

In [ ]:
sum_paid_district

In [ ]:
agg2

In [ ]:
agg2.drop(columns=['_merge'],inplace=True)

In [ ]:
agg2 = agg2.merge(
    sum_paid_district,
    how = 'left',
    left_on = ['amp_code2'],
    right_on = ['amp_code2'],
    validate = '1:1',
    indicator = True
)

In [ ]:
agg2

In [ ]:
agg2['ctd'] = np.nan

In [ ]:
for i, v in agg2.iterrows():
    ampcode = v['amp_code2']
    agg2.at[i,'ctd'] = df.loc[df['amp_code2'] == ampcode]['ReferCustomerName'].nunique()

In [ ]:
agg2.drop(columns=['desity'], inplace=True)

In [ ]:
agg2['density'] = agg2['MonthlyReportNarcoticPaidValue']/agg2['ctd']

In [ ]:
agg2

<h1>Over all customer types plot</h1>

In [21]:
agg4 = df['CustomerTypeName'].value_counts().reset_index()

In [112]:
agg4

     CustomerTypeName  count
0              คลินิก  13710
1      โรงพยาบาลเอกชน   8974
2    สถานพยาบาลของรัฐ   5235
3     สถานพยาบาลสัตว์    248
4  สถานพยาบาลทันตกรรม     12

In [22]:
sum_custype = df.groupby(by=['CustomerTypeName'])['MonthlyReportNarcoticPaidValue'].sum()

In [103]:
sum_custype

CustomerTypeName
คลินิก                 9027082.0
สถานพยาบาลของรัฐ      13827180.0
สถานพยาบาลทันตกรรม           6.0
สถานพยาบาลสัตว์           6556.0
โรงพยาบาลเอกชน         9322270.5
Name: MonthlyReportNarcoticPaidValue, dtype: float64

In [ ]:
agg5 = agg4.join(
    sum_custype,
    on = 'CustomerTypeName',
    how = 'left',
    validate = '1:1'
)

In [116]:
agg5

     CustomerTypeName  count  MonthlyReportNarcoticPaidValue
0              คลินิก  13710                       9027082.0
1      โรงพยาบาลเอกชน   8974                       9322270.5
2    สถานพยาบาลของรัฐ   5235                      13827180.0
3     สถานพยาบาลสัตว์    248                          6556.0
4  สถานพยาบาลทันตกรรม     12                             6.0

In [117]:
agg5['ctd'] = np.nan

In [118]:
for i,v in agg5.iterrows():
    ctn = v['CustomerTypeName']
    agg5.at[i, 'ctd'] = df.loc[df['CustomerTypeName'] == ctn]['ReferCustomerName'].nunique()

In [119]:
agg5

     CustomerTypeName  count  MonthlyReportNarcoticPaidValue    ctd
0              คลินิก  13710                       9027082.0  611.0
1      โรงพยาบาลเอกชน   8974                       9322270.5  349.0
2    สถานพยาบาลของรัฐ   5235                      13827180.0  323.0
3     สถานพยาบาลสัตว์    248                          6556.0   13.0
4  สถานพยาบาลทันตกรรม     12                             6.0    1.0

In [132]:
agg5.to_csv('C:/Users/ASUS/Downloads/agg5.csv')

<h2>filtered only interesting points</h2>

In [23]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31

<h3>calculate nominal weights of the product being distributed (coarse grain)</h3>

In [32]:
ct_skus['nominal_weight'] = ct_skus['MonthlyReportNarcoticName'].str.extract(r'(\d+\.?\d*)\s*mg')

In [33]:
ct_skus

                           MonthlyReportNarcoticName  count nominal_weight
0              Alprazolam tablets 0.5 mg (Polipharm)  12179            0.5
1             Alprazolam tablets 0.25 mg (Polipharm)   8278           0.25
2  Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...   6996            1.0
3               Alprazolam tablets 1 mg (Pharmasant)    570              1
4             Alprazolam tablets 0.5 mg (Pharmasant)    156            0.5

In [38]:
df['strength'] = df['MonthlyReportNarcoticName'].str.extract(r'(\d+\.?\d*)\s*mg')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28179 entries, 0 to 28178
Data columns (total 30 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ReportDisburseNarcoticBeYear              28179 non-null  float64
 1   ReportDisburseNarcoticMonth               28179 non-null  object
 2   ProductTypeName                           28179 non-null  object
 3   MonthlyReportNarcoticName                 28179 non-null  object
 4   MonthlyReportNarcoticBalanceForwardValue  28179 non-null  float64
 5   MonthlyReportNarcoticReceiveValue         28179 non-null  float64
 6   MonthlyReportNarcoticPaidValue            28179 non-null  float64
 7   MonthlyReportNarcoticRemainValue          28179 non-null  float64
 8   ReferCustomerName                         28179 non-null  object
 9   CustomerAddressProvinceName               28179 non-null  object
 10  CustomerTypeName                          28179 non-null  object
 11  ReportDisburseNarcoticRecordType          28179 non-null  object
 12  CreateDateTime                            28179 non-null  object
 13  ReportDisburseNarcoticRequestorName       28179 non-null  object
 14  SendReportDate                            28179 non-null  datetime64[ns]
 15  uuid_x                                    28179 non-null  object
 16  uuid_y                                    28179 non-null  object
 17  fullAddress                               28179 non-null  object
 18  formatted_address                         28179 non-null  object
 19  location_type                             28179 non-null  object
 20  place_id                                  28179 non-null  object
 21  lat                                       28179 non-null  float64
 22  lng                                       28179 non-null  float64
 23  types                                     28179 non-null  object
 24  zip_code                                  28179 non-null  int64
 25  district_name                             28179 non-null  object
 26  amp_code                                  28179 non-null  int64
 27  report_ce_year                            28179 non-null  datetime64[ns]
 28  strength                                  28179 non-null  object
 29  dn_internal                               28179 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(2), object(19)
memory usage: 6.4+ MB

In [39]:
df['strength'].value_counts().reset_index()

  strength  count
0      0.5  12335
1     0.25   8278
2      1.0   6996
3        1    570

In [40]:
df['nominal_wt'] = df['MonthlyReportNarcoticPaidValue'] * df['strength'].astype('float32')

In [67]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year,strength,dn_internal,nominal_wt
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31,0.25,ศรีประจันต์,125.00
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31,0.5,กะทู้,0.00
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31,0.5,บ้านโป่ง,306.00
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,0.25,พระประแดง,116.25
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,0.5,พระประแดง,478.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,1.0,เมืองนราธิวาส,342.00
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,1.0,เมืองนราธิวาส,342.00
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,0.25,พญาไท,596.50
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,1.0,พญาไท,3748.00
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,0.5,พญาไท,2203.50

In [76]:
filtered_clinic_df = df.loc[df['CustomerTypeName'] == 'คลินิก'].copy()

In [85]:
agg6 = df.loc[df['CustomerTypeName'] == 'คลินิก']['amp_code2'].value_counts().reset_index()

In [86]:
agg6['ctd'] = np.nan

In [87]:
for i,v in agg6.iterrows():
    ampcode = v['amp_code2']
    agg6.at[i,'ctd'] = filtered_clinic_df.loc[filtered_clinic_df['amp_code2'] == ampcode]['ReferCustomerName'].nunique()

In [89]:
sum_fdf = filtered_clinic_df.groupby(by=['amp_code2'])['MonthlyReportNarcoticPaidValue'].sum()

In [88]:
agg6

    amp_code2  count   ctd
0        1039    446  21.0
1        5001    425  22.0
2        2001    402  19.0
3        1201    377  12.0
4        1007    326  14.0
..        ...    ...   ...
199      1601     11   2.0
200      1035     10   1.0
201      7206     10   1.0
202      3101      5   1.0
203      9001      5   1.0

[204 rows x 3 columns]

In [90]:
sum_fdf

amp_code2
1001       786.0
1002     16139.0
1003      7640.0
1004    201693.0
1005     49672.0
          ...
9402     15910.0
9501     11210.0
9502     20079.0
9506     10182.0
9601     53290.0
Name: MonthlyReportNarcoticPaidValue, Length: 204, dtype: float64

In [91]:
agg6 = agg6.join(
    sum_fdf,
    how = 'left',
    on = 'amp_code2',
    validate = '1:1'
)

In [92]:
agg6

    amp_code2  count   ctd  MonthlyReportNarcoticPaidValue
0        1039    446  21.0                        106698.0
1        5001    425  22.0                        249267.0
2        2001    402  19.0                        313239.0
3        1201    377  12.0                        289951.0
4        1007    326  14.0                         31197.0
..        ...    ...   ...                             ...
199      1601     11   2.0                          1800.0
200      1035     10   1.0                             4.0
201      7206     10   1.0                           550.0
202      3101      5   1.0                           500.0
203      9001      5   1.0                           160.0

[204 rows x 4 columns]

In [93]:
nom_wt = filtered_clinic_df.groupby(by=['amp_code2'])['nominal_wt'].sum()

In [95]:
agg6 = agg6.join(
    nom_wt,
    how = 'left',
    on = 'amp_code2',
    validate = '1:1'
)

In [97]:
agg6['density'] = agg6['MonthlyReportNarcoticPaidValue']/agg6['ctd']

<h2>Plot facets</h2>

In [133]:
fig = make_subplots(rows=1, cols=3, specs=[[{'type':'domain'}, {'type':'domain'}, {'type':'domain'}]])#, vertical_spacing=0.01)

fig.add_trace(
    go.Pie(
        labels = agg5['CustomerTypeName'],
        values = agg5['count'],
        name = 'จำนวนบันทึกรายงาน'
    ),
    1,1
)

fig.add_trace(
    go.Pie(
        labels = agg5['CustomerTypeName'],
        values = agg5['MonthlyReportNarcoticPaidValue'],
        name = 'จำนวนบันทึกรายงาน'
    ),
    1,2
)

fig.add_trace(
    go.Pie(
        labels = agg5['CustomerTypeName'],
        values = agg5['count'],
        name = 'จำนวนบันทึกรายงาน'
    ),
    1,3
)

fig.update_traces(hole=.4, hoverinfo="label+percent+name", textinfo='percent+value')

fig.update_layout(
    title_text="ข้อมูลรายงานภาพรวม จำแนกตามประเภทสถานพยาบาล",
    # Add annotations in the center of the donut pies.
    annotations=[dict(text='Record counts', x=sum(fig.get_subplot(1, 1).x) / 2, y=0.5,
                      font_size=20, showarrow=False, xanchor="center"),
                 dict(text='ยอดจ่าย', x=sum(fig.get_subplot(1, 2).x) / 2, y=0.5,
                      font_size=20, showarrow=False, xanchor="center"),
                 dict(text='ctd', x=sum(fig.get_subplot(1, 3).x) / 2, y=0.5,
                      font_size=20,showarrow=False, xanchor="center")]
)
fig.write_html('C:/Users/ASUS/Downloads/overall_donut2025-09-26.html')
fig.show()

In [95]:
agg3 = agg2.loc[agg2['pro_th'] == 'กรุงเทพมหานคร']

In [89]:
fig = px.choropleth_map(
    agg2,
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'count',
    color_continuous_scale="Magenta",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th'
)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#c2c6cc"
        }
    }
)
fig.update_layout(title="จำนวนรายงานการกระจายยา Alprazolam ในแต่ละอำเภอ")
fig.write_html('C:/Users/ASUS/Downloads/agg2_district_ct2025-09-26.html')
fig.show()

In [ ]:
fig = px.choropleth_map(
    agg2,
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'count',
    color_continuous_scale="Magenta",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th'
)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#c2c6cc"
        }
    }
)
fig.update_layout(title="จำนวนรายงานการกระจายยา Alprazolam ในแต่ละอำเภอ")
fig.write_html('C:/Users/ASUS/Downloads/agg2_district_ct2025-09-26.html')
fig.show()

In [90]:
fig = px.choropleth_map(
    agg2,
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'MonthlyReportNarcoticPaidValue',
    color_continuous_scale="algae",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th'
)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#c2c6cc"
        }
    }
)
fig.update_layout(title="จำนวนรายงานการกระจายยา Alprazolam ในแต่ละอำเภอ")
fig.write_html('C:/Users/ASUS/Downloads/agg2_district_paid2025-09-26.html')
fig.show()

In [94]:
fig = px.choropleth_map(
    agg2,
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'density',
    color_continuous_scale="Brwnyl",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th'
)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#c2c6cc"
        }
    }
)
fig.update_layout(title="จำนวนรายงานการกระจายยา Alprazolam ในแต่ละอำเภอ")
fig.write_html('C:/Users/ASUS/Downloads/agg2_district_density2025-09-26.html')
fig.show()

<h3>Filtered only clinic in Bangkok</h3>

In [111]:
agg6.loc[agg6['pro_th'] == 'กรุงเทพมหานคร'].sort_values(by ='density', ascending=False)

,amp_code2,count,ctd,MonthlyReportNarcoticPaidValue,nominal_wt,density,amp_code,amp_th,pro_th,_merge
107,1023,36,1.0,172175.0,161962.50,172175.000000,1023,หนองแขม,กรุงเทพมหานคร,both
69,1046,63,2.0,126910.0,106000.00,63455.000000,1046,คลองสามวา,กรุงเทพมหานคร,both
178,1050,12,1.0,55330.0,55330.00,55330.000000,1050,บางบอน,กรุงเทพมหานคร,both
28,1034,120,7.0,362870.0,356707.75,51838.571429,1034,สวนหลวง,กรุงเทพมหานคร,both
94,1010,45,3.0,147930.0,137844.25,49310.000000,1010,มีนบุรี,กรุงเทพมหานคร,both
57,1015,72,3.0,127020.0,120625.00,42340.000000,1015,ธนบุรี,กรุงเทพมหานคร,both
14,1045,156,9.0,370354.0,224142.00,41150.444444,1045,วังทองหลาง,กรุงเทพมหานคร,both
41,1025,102,5.0,192900.0,181613.75,38580.000000,1025,บางพลัด,กรุงเทพมหานคร,both
65,1027,70,3.0,110605.0,110402.50,36868.333333,1027,บึงกุ่ม,กรุงเทพมหานคร,both
47,1018,88,4.0,137720.0,122090.00,34430.000000,1018,คลองสาน,กรุงเทพมหานคร,both
12,1009,183,7.0,163217.0,136395.25,23316.714286,1009,พระโขนง,กรุงเทพมหานคร,both
36,1032,112,8.0,186367.0,176198.00,23295.875000,1032,ประเวศ,กรุงเทพมหานคร,both
50,1041,84,3.0,69288.0,49294.00,23096.000000,1041,หลักสี่,กรุงเทพมหานคร,both
10,1030,206,11.0,228295.0,216358.00,20754.090909,1030,จตุจักร,กรุงเทพมหานคร,both
32,1038,117,6.0,122186.0,121665.25,20364.333333,1038,ลาดพร้าว,กรุงเทพมหานคร,both
48,1043,88,6.0,121612.0,116897.00,20268.666667,1043,คันนายาว,กรุงเทพมหานคร,both
58,1012,72,3.0,59300.0,57750.00,19766.666667,1012,ยานนาวา,กรุงเทพมหานคร,both
8,1004,254,12.0,201693.0,174568.00,16807.750000,1004,บางรัก,กรุงเทพมหานคร,both
134,1047,32,2.0,27220.0,19185.00,13610.000000,1047,บางนา,กรุงเทพมหานคร,both
56,1021,74,4.0,51095.0,50136.25,12773.750000,1021,บางขุนเทียน,กรุงเทพมหานคร,both
40,1029,103,5.0,47263.0,28465.75,9452.600000,1029,บางซื่อ,กรุงเทพมหานคร,both
26,1037,126,6.0,54448.0,46852.75,9074.666667,1037,ราชเทวี,กรุงเทพมหานคร,both
38,1040,106,2.0,18068.0,15299.50,9034.000000,1040,บางแค,กรุงเทพมหานคร,both
153,1003,24,1.0,7640.0,3075.00,7640.000000,1003,หนองจอก,กรุงเทพมหานคร,both
18,1033,137,7.0,50283.0,33314.50,7183.285714,1033,คลองเตย,กรุงเทพมหานคร,both
54,1017,75,5.0,33521.0,31996.50,6704.200000,1017,ห้วยขวาง,กรุงเทพมหานคร,both
11,1005,189,8.0,49672.0,43499.75,6209.000000,1005,บางเขน,กรุงเทพมหานคร,both
49,1042,88,4.0,21813.0,19049.00,5453.250000,1042,สายไหม,กรุงเทพมหานคร,both
46,1002,94,3.0,16139.0,9125.50,5379.666667,1002,ดุสิต,กรุงเทพมหานคร,both
0,1039,446,21.0,106698.0,67297.00,5080.857143,1039,วัฒนา,กรุงเทพมหานคร,both
9,1014,218,11.0,49475.0,30813.00,4497.727273,1014,พญาไท,กรุงเทพมหานคร,both
68,1028,63,3.0,11711.0,8633.25,3903.666667,1028,สาทร,กรุงเทพมหานคร,both
33,1011,114,6.0,22136.0,11414.75,3689.333333,1011,ลาดกระบัง,กรุงเทพมหานคร,both
161,1006,24,1.0,3285.0,2955.00,3285.000000,1006,บางกะปิ,กรุงเทพมหานคร,both
29,1048,120,4.0,12469.0,7783.00,3117.250000,1048,ทวีวัฒนา,กรุงเทพมหานคร,both
187,1016,12,1.0,2620.0,2620.00,2620.000000,1016,บางกอกใหญ่,กรุงเทพมหานคร,both
4,1007,326,14.0,31197.0,20734.25,2228.357143,1007,ปทุมวัน,กรุงเทพมหานคร,both
191,1044,12,1.0,2067.0,1033.50,2067.000000,1044,สะพานสูง,กรุงเทพมหานคร,both
53,1026,76,4.0,7785.0,4737.75,1946.250000,1026,ดินแดง,กรุงเทพมหานคร,both
75,1031,56,2.0,3240.0,2440.00,1620.000000,1031,บางคอแหลม,กรุงเทพมหานคร,both
71,1008,60,3.0,4262.0,3101.00,1420.666667,1008,ป้อมปราบศัตรูพ่าย,กรุงเทพมหานคร,both
172,1049,20,1.0,1248.0,624.00,1248.000000,1049,ทุ่งครุ,กรุงเทพมหานคร,both
165,1001,24,1.0,786.0,270.25,786.000000,1001,พระนคร,กรุงเทพมหานคร,both
51,1020,80,3.0,2021.0,752.75,673.666667,1020,บางกอกน้อย,กรุงเทพมหานคร,both
162,1022,24,2.0,885.0,870.00,442.500000,1022,ภาษีเจริญ,กรุงเทพมหานคร,both
93,1036,45,4.0,302.0,138.00,75.500000,1036,ดอนเมือง,กรุงเทพมหานคร,both
166,1019,24,2.0,100.0,50.00,50.000000,1019,ตลิ่งชัน,กรุงเทพมหานคร,both
200,1035,10,1.0,4.0,2.00,4.000000,1035,จอมทอง,กรุงเทพมหานคร,both

In [112]:
agg6_bkk = agg6.loc[agg6['pro_th'] == 'กรุงเทพมหานคร']

In [116]:
# upivot
paid_vals_agg6 = agg6_bkk[['amp_code2','amp_th','pro_th','MonthlyReportNarcoticPaidValue']].copy()

In [117]:
paid_vals_agg6.rename(columns={'MonthlyReportNarcoticPaidValue':'value'}, inplace=True)

In [119]:
paid_vals_agg6['enum'] = 'PaidValue'

In [120]:
nominal_wt_agg6 = agg6_bkk[['amp_code2','amp_th','pro_th','nominal_wt']].copy()
nominal_wt_agg6.rename(columns={'nominal_wt':'value'}, inplace=True)

In [124]:
nominal_wt_agg6['enum'] = 'nominal_wt'

In [125]:
nominal_wt_agg6

    amp_code2             amp_th         pro_th      value        enum
0        1039              วัฒนา  กรุงเทพมหานคร   67297.00  nominal_wt
4        1007            ปทุมวัน  กรุงเทพมหานคร   20734.25  nominal_wt
8        1004             บางรัก  กรุงเทพมหานคร  174568.00  nominal_wt
9        1014              พญาไท  กรุงเทพมหานคร   30813.00  nominal_wt
10       1030            จตุจักร  กรุงเทพมหานคร  216358.00  nominal_wt
11       1005             บางเขน  กรุงเทพมหานคร   43499.75  nominal_wt
12       1009            พระโขนง  กรุงเทพมหานคร  136395.25  nominal_wt
14       1045         วังทองหลาง  กรุงเทพมหานคร  224142.00  nominal_wt
18       1033            คลองเตย  กรุงเทพมหานคร   33314.50  nominal_wt
26       1037            ราชเทวี  กรุงเทพมหานคร   46852.75  nominal_wt
28       1034            สวนหลวง  กรุงเทพมหานคร  356707.75  nominal_wt
29       1048           ทวีวัฒนา  กรุงเทพมหานคร    7783.00  nominal_wt
32       1038           ลาดพร้าว  กรุงเทพมหานคร  121665.25  nominal_wt
33       1011          ลาดกระบัง  กรุงเทพมหานคร   11414.75  nominal_wt
36       1032             ประเวศ  กรุงเทพมหานคร  176198.00  nominal_wt
38       1040              บางแค  กรุงเทพมหานคร   15299.50  nominal_wt
40       1029            บางซื่อ  กรุงเทพมหานคร   28465.75  nominal_wt
41       1025            บางพลัด  กรุงเทพมหานคร  181613.75  nominal_wt
46       1002              ดุสิต  กรุงเทพมหานคร    9125.50  nominal_wt
47       1018            คลองสาน  กรุงเทพมหานคร  122090.00  nominal_wt
48       1043           คันนายาว  กรุงเทพมหานคร  116897.00  nominal_wt
49       1042             สายไหม  กรุงเทพมหานคร   19049.00  nominal_wt
50       1041            หลักสี่  กรุงเทพมหานคร   49294.00  nominal_wt
51       1020         บางกอกน้อย  กรุงเทพมหานคร     752.75  nominal_wt
53       1026             ดินแดง  กรุงเทพมหานคร    4737.75  nominal_wt
54       1017           ห้วยขวาง  กรุงเทพมหานคร   31996.50  nominal_wt
56       1021        บางขุนเทียน  กรุงเทพมหานคร   50136.25  nominal_wt
57       1015             ธนบุรี  กรุงเทพมหานคร  120625.00  nominal_wt
58       1012            ยานนาวา  กรุงเทพมหานคร   57750.00  nominal_wt
65       1027            บึงกุ่ม  กรุงเทพมหานคร  110402.50  nominal_wt
68       1028               สาทร  กรุงเทพมหานคร    8633.25  nominal_wt
69       1046          คลองสามวา  กรุงเทพมหานคร  106000.00  nominal_wt
71       1008  ป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร    3101.00  nominal_wt
75       1031          บางคอแหลม  กรุงเทพมหานคร    2440.00  nominal_wt
93       1036           ดอนเมือง  กรุงเทพมหานคร     138.00  nominal_wt
94       1010            มีนบุรี  กรุงเทพมหานคร  137844.25  nominal_wt
107      1023            หนองแขม  กรุงเทพมหานคร  161962.50  nominal_wt
134      1047              บางนา  กรุงเทพมหานคร   19185.00  nominal_wt
153      1003            หนองจอก  กรุงเทพมหานคร    3075.00  nominal_wt
161      1006            บางกะปิ  กรุงเทพมหานคร    2955.00  nominal_wt
162      1022          ภาษีเจริญ  กรุงเทพมหานคร     870.00  nominal_wt
165      1001             พระนคร  กรุงเทพมหานคร     270.25  nominal_wt
166      1019           ตลิ่งชัน  กรุงเทพมหานคร      50.00  nominal_wt
172      1049            ทุ่งครุ  กรุงเทพมหานคร     624.00  nominal_wt
178      1050             บางบอน  กรุงเทพมหานคร   55330.00  nominal_wt
187      1016         บางกอกใหญ่  กรุงเทพมหานคร    2620.00  nominal_wt
191      1044           สะพานสูง  กรุงเทพมหานคร    1033.50  nominal_wt
200      1035             จอมทอง  กรุงเทพมหานคร       2.00  nominal_wt

In [123]:
density_agg6 = agg6_bkk[['amp_code2','amp_th','pro_th','density']].copy()
density_agg6.rename(columns={'density':'value'}, inplace=True)
density_agg6['enum'] = 'density'

In [126]:
agg7 = pd.concat([paid_vals_agg6,nominal_wt_agg6,density_agg6])

In [128]:
agg7['enum'].value_counts()

enum
PaidValue     48
nominal_wt    48
density       48
Name: count, dtype: int64

In [99]:
agg6 = agg6.merge(
    gdf_district[['amp_code','amp_th','pro_th']],
    how = 'left',
    left_on = 'amp_code2',
    right_on = 'amp_code',
    validate = '1:1',
    indicator = True
)

In [101]:
agg6['_merge'].value_counts()

_merge
both          204
left_only       0
right_only      0
Name: count, dtype: int64

In [107]:
fig = px.choropleth_map(
    agg6.loc[agg6['pro_th'] == 'กรุงเทพมหานคร'],
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'density',
    color_continuous_scale="Brwnyl",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th'
)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#c2c6cc"
        }
    }
)
fig.update_geos(fitbounds="locations", visible=False)
fig.update_layout(title="จำนวนยอดจ่าย Alprazolam สถานพยาบาลประเภทคลินิกในแต่ละอำเภอ ต่อ 1 สถานพบาล")
fig.write_html('C:/Users/ASUS/Downloads/agg6_district_bkk_density2025-09-26.html')
fig.show()

In [133]:
fig = px.choropleth(
    agg7,
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'value',
    color_continuous_scale="Brwnyl",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th',
    facet_col="enum"
)
fig.update_geos(fitbounds="locations", visible=False)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#828282"
        }
    }
)
fig.update_layout(title="ภาพรวมยอดจ่าย, nominal weight, ปริมาณยอดจ่ายต่อสถานพยาบาล ในจังหวัดกรุงเทพมหานคร")
fig.write_html('C:/Users/ASUS/Downloads/agg7_facet_bkk_alpra2025-09-26.html')
fig.show()

In [ ]:
fig = px.choropleth(
    agg7.loc[agg7['enum'] == 'density'],
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'value',
    color_continuous_scale="Brwnyl",
    center={
    'lat': 16,
    'lon': 101
    },
    hover_name = 'amp_th',
    facet_col="enum"
)
fig.update_geos(fitbounds="locations", visible=False)
fig.update_traces(
    marker_line_width=0.5,  # Set the border width (e.g., 1 pixel)
    marker = {
        "line": {
            "color": "#828282"
        }
    }
)
fig.update_layout(title="ปริมาณยอดจ่ายต่อสถานพยาบาล ในจังหวัดกรุงเทพมหานคร")
fig.write_html('C:/Users/ASUS/Downloads/agg7_facet_bkk_density_alpra2025-09-26.html')
fig.show()

<h3>drill down sampling ctn level</h3>

In [41]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year,dn_internal,amp_code2,strength,nominal_wt
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31,ศรีประจันต์,7205,0.25,125.00
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31,กะทู้,8302,0.5,0.00
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31,บ้านโป่ง,7005,0.5,306.00
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,พระประแดง,1104,0.25,116.25
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,พระประแดง,1104,0.5,478.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,เมืองนราธิวาส,9601,1.0,342.00
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,เมืองนราธิวาส,9601,1.0,342.00
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,0.25,596.50
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,1.0,3748.00
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,0.5,2203.50

In [44]:
loclicnic_nk = df.loc[(df['CustomerTypeName'] == 'คลินิก') & (df['dn_internal'] =='หนองแขม')].copy()

In [46]:
loclicnic_nk.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36 entries, 378 to 27463
Data columns (total 32 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ReportDisburseNarcoticBeYear              36 non-null     float64
 1   ReportDisburseNarcoticMonth               36 non-null     object
 2   ProductTypeName                           36 non-null     object
 3   MonthlyReportNarcoticName                 36 non-null     object
 4   MonthlyReportNarcoticBalanceForwardValue  36 non-null     float64
 5   MonthlyReportNarcoticReceiveValue         36 non-null     float64
 6   MonthlyReportNarcoticPaidValue            36 non-null     float64
 7   MonthlyReportNarcoticRemainValue          36 non-null     float64
 8   ReferCustomerName                         36 non-null     object
 9   CustomerAddressProvinceName               36 non-null     object
 10  CustomerTypeName                          36 non-null     object
 11  ReportDisburseNarcoticRecordType          36 non-null     object
 12  CreateDateTime                            36 non-null     object
 13  ReportDisburseNarcoticRequestorName       36 non-null     object
 14  SendReportDate                            36 non-null     datetime64[ns]
 15  uuid_x                                    36 non-null     object
 16  uuid_y                                    36 non-null     object
 17  fullAddress                               36 non-null     object
 18  formatted_address                         36 non-null     object
 19  location_type                             36 non-null     object
 20  place_id                                  36 non-null     object
 21  lat                                       36 non-null     float64
 22  lng                                       36 non-null     float64
 23  types                                     36 non-null     object
 24  zip_code                                  36 non-null     int64
 25  district_name                             36 non-null     object
 26  amp_code                                  36 non-null     int64
 27  report_ce_year                            36 non-null     datetime64[ns]
 28  dn_internal                               36 non-null     object
 29  amp_code2                                 36 non-null     object
 30  strength                                  36 non-null     object
 31  nominal_wt                                36 non-null     float64
dtypes: datetime64[ns](2), float64(8), int64(2), object(20)
memory usage: 9.3+ KB

In [47]:
loclicnic_nk['ReferCustomerName'].value_counts()

ReferCustomerName
วันวิเชียรสหคลินิก    36
Name: count, dtype: int64

In [48]:
loclicnic_nk.to_csv('C:/Users/ASUS/Downloads/loclicnic_nk20251002.csv', index=False)

In [2]:
# load locclinic_nk
loclicnic_nk = pd.read_csv('C:/Users/ASUS/Downloads/loclicnic_nk20251002.csv')

In [3]:
gr_ce_loc_df = loclicnic_nk.groupby(by=['report_ce_year'])[['MonthlyReportNarcoticReceiveValue','MonthlyReportNarcoticPaidValue','MonthlyReportNarcoticRemainValue']].sum().reset_index()

In [4]:
gr_ce_loc_df['mo_remains'] = gr_ce_loc_df['MonthlyReportNarcoticReceiveValue']-gr_ce_loc_df['MonthlyReportNarcoticPaidValue']

In [5]:
gr_ce_loc_df['Result'] = gr_ce_loc_df['mo_remains'].apply(lambda x: 'Win' if x >= 0 else 'Loss')

In [6]:
color_map = {'Win': 'green', 'Loss': 'red'}

In [8]:
gr_ce_loc_df.sum()

report_ce_year                       2024-01-312024-02-292024-03-312024-04-302024-0...
MonthlyReportNarcoticReceiveValue                                             172700.0
MonthlyReportNarcoticPaidValue                                                172175.0
MonthlyReportNarcoticRemainValue                                               43406.0
mo_remains                                                                       525.0
Result                                    WinLossLossWinWinLossLossLossLossWinLossLoss
dtype: object

In [65]:
gr_ce_loc_df.loc[gr_ce_loc_df['Result'] == 'Loss']['mo_remains']

1    -1735.0
2    -1715.0
5    -8314.0
6    -3964.0
7     -614.0
8     -337.0
10   -2139.0
11     -60.0
Name: mo_remains, dtype: float64

In [80]:
gr_ce_loc_df['Positive'] = np.maximum(0, gr_ce_loc_df['mo_remains'])
gr_ce_loc_df['Negative'] = np.minimum(0, gr_ce_loc_df['mo_remains'])

In [83]:
gr_ce_loc_df

,report_ce_year,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,mo_remains,Result,Positive,Negative
0,2024-01-31,8500.0,2870.0,5630.0,5630.0,Win,5630.0,0.0
1,2024-02-29,15000.0,16735.0,3895.0,-1735.0,Loss,0.0,-1735.0
2,2024-03-31,25000.0,26715.0,2180.0,-1715.0,Loss,0.0,-1715.0
3,2024-04-30,21000.0,17310.0,5870.0,3690.0,Win,3690.0,0.0
4,2024-05-31,23000.0,15128.0,13742.0,7872.0,Win,7872.0,0.0
5,2024-06-30,20000.0,28314.0,5428.0,-8314.0,Loss,0.0,-8314.0
6,2024-07-31,20000.0,23964.0,1464.0,-3964.0,Loss,0.0,-3964.0
7,2024-08-31,20000.0,20614.0,850.0,-614.0,Loss,0.0,-614.0
8,2024-09-30,300.0,637.0,513.0,-337.0,Loss,0.0,-337.0
9,2024-10-31,19900.0,17689.0,2724.0,2211.0,Win,2211.0,0.0
10,2024-11-30,0.0,2139.0,585.0,-2139.0,Loss,0.0,-2139.0
11,2024-12-31,0.0,60.0,525.0,-60.0,Loss,0.0,-60.0

In [ ]:
gr_ce_remains = loclicnic_nk.groupby(by=['report_ce_year'])[['MonthlyReportNarcoticReceiveValue','MonthlyReportNarcoticPaidValue']].sum()

In [70]:
def split_by_sign(df,xref,yref):
    """
    Insert zero-crossings and split into positive/negative arrays.
    Returns two DataFrames: pos_df, neg_df
    """
    new_points = []

    for i in range(len(df) - 1):
        x1 = df.iloc[i][xref]
        y1 = df.iloc[i][yref]
        x2 = df.iloc[i+1][xref]
        y2 = df.iloc[i+1][yref]

        new_points.append((x1, y1))

        # Check if the line between points crosses zero
        if y1 * y2 < 0:
            # linear interpolation for crossing
            t = -y1 / (y2 - y1)
            x0 = x1 + t * (x2 - x1)
            new_points.append((x0, 0.0))

    # Add last point
    new_points.append((df.iloc[-1, 0], df.iloc[-1, 1]))

    expanded = pd.DataFrame(new_points, columns=["x", "y"])

    # Separate into pos/neg series (with gaps = NaN)
    pos = expanded.copy()
    pos.loc[pos["y"] < 0, "y"] = None

    neg = expanded.copy()
    neg.loc[neg["y"] > 0, "y"] = None

    return pos, neg

In [81]:
pos, neg = split_by_sign(df=gr_ce_loc_df, xref='report_ce_year', yref='mo_remains')

In [82]:
pos

                               x       y
0  2024-01-31 00:00:00.000000000  5630.0
1  2024-02-22 04:02:26.639511201     0.0
2  2024-02-29 00:00:00.000000000     NaN
3  2024-03-31 00:00:00.000000000     NaN
4  2024-04-09 12:27:18.482886216     0.0
5  2024-04-30 00:00:00.000000000  3690.0
6  2024-05-31 00:00:00.000000000  7872.0
7  2024-06-14 14:10:09.415544297     0.0
8  2024-06-30 00:00:00.000000000     NaN
9  2024-07-31 00:00:00.000000000     NaN
10 2024-08-31 00:00:00.000000000     NaN
11 2024-09-30 00:00:00.000000000     NaN
12 2024-10-04 02:24:06.781789638     0.0
13 2024-10-31 00:00:00.000000000  2211.0
14 2024-11-15 05:57:31.034482758     0.0
15 2024-11-30 00:00:00.000000000     NaN
16 2024-12-31 00:00:00.000000000     0.0

In [92]:
# win loss plot
fig = go.Figure()
fig.add_trace(
    go.Scatter(
        x=pos['x'],
        y=pos['y'],
        mode='lines',
        line=dict(color='green', width=0),
        fill='tozeroy',
        fillcolor='rgba(0, 128, 0, 0.5)'
    )
)
fig.add_trace(
    go.Scatter(
        x=neg['x'],
        y=neg['y'],
        mode='lines',
        line=dict(color='red', width=0),
        fill='tozeroy',
        fillcolor='rgba(255, 0, 0, 0.5)'
    )
)
fig.add_trace(
    go.Bar(
        x=gr_ce_loc_df['report_ce_year'],
        y=gr_ce_loc_df['MonthlyReportNarcoticRemainValue'],
        yaxis="y2",
        marker=dict(color="#6e7b85"),
        name='MonthlyReportNarcoticRemainValue'
    )
)

fig.update_layout(
    yaxis=dict(
        title="Recieve - Paid Values",
        zeroline=True,
        zerolinecolor="black"
    ),
    yaxis2=dict(
        title="Bar Metric",
        overlaying="y",
        side="right",
        showgrid=False
    ),
    barmode="overlay"
)
fig.write_html('C:/Users/ASUS/Downloads/winlossloclicnic_nk20251002.html')
fig.show()

<h3>check receive values</h3>

In [9]:
# load sale report df
sale_rep_df = pd.read_csv("D:/Onedrive/SynMAR2020/GitHub/nct_dist/nct_distr/data_source/SaleReport_redis-2025-07-31 - Sheet1 (1).csv")

In [18]:
fsale_df = sale_rep_df.loc[(sale_rep_df['CustomerNameTh'].str.contains('วันวิ')) & (sale_rep_df['ProductGenericName'].str.contains('alpra', case=False))].copy()

In [19]:
fsale_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 67498 to 108379
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PurchaseOrderNo                  31 non-null     object
 1   CustomerTypeName                 31 non-null     object
 2   CustomerNameTh                   31 non-null     object
 3   CustomerAddressProvinceName      31 non-null     object
 4   ProductAmount                    31 non-null     float64
 5   PurchaseOrderItemApprovedAmount  31 non-null     float64
 6   ProductPricePerUnit              31 non-null     float64
 7   PurchaseOrderType                31 non-null     object
 8   PurchaseOrderPaymentMethodName   31 non-null     object
 9   ProductGenericName               31 non-null     object
 10  ProductTradeName                 31 non-null     object
 11  ReferNarcoticCategoryName        31 non-null     object
 12  PurchaseOrderItemApprovedPrice   31 non-null     float64
 13  CreateDateTime                   31 non-null     object
 14  ApprovedDateTime                 31 non-null     object
 15  InvoiceNo                        29 non-null     object
 16  InvoiceDate                      29 non-null     object
 17  PurchaseStatus                   31 non-null     int64
 18  สถานะคำขอซื้อ                    31 non-null     object
 19  สถานะการอนุมัติยา                31 non-null     object
 20  gr                               31 non-null     object
 21  มูลค่า                           31 non-null     float64
 22  เขต                              31 non-null     int64
dtypes: float64(5), int64(2), object(16)
memory usage: 5.8+ KB

In [22]:
fsale_df['ProductGenericName'].value_counts()

ProductGenericName
Alprazolam tablet 1.0 mg         15
Alprazolam tablets 0.5 mg        11
Alprazolam tablet 0.25 mg/tab     5
Name: count, dtype: int64

In [23]:
fsale_df.to_csv("D:/Onedrive/SynMAR2020/GitHub/nct_dist/nct_distr/data_source/fsale.csv", index=False)

<h1> Plot missing month heatmap</h1>

In [147]:
loc05 = df.loc[df['MonthlyReportNarcoticName'] == 'Alprazolam tablets 0.5 mg (Polipharm)']

In [170]:
all05names = loc05['ReferCustomerName'].value_counts().reset_index().sort_values(by=['count'],ascending=False)

In [179]:
loc05.loc[(loc05['ReferCustomerName'] == 'อำนาจการแพทย์คลินิก') &(loc05['report_ce_year'] == '2024-01-31')].drop_duplicates()

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year,amp_code2,strength,nominal_wt
1202,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),3832.0,0.0,630.0,3202.0,อำนาจการแพทย์คลินิก,สงขลา,คลินิก,RECORD,13/05/2024 15:21 น.,นาง จริยา บัวศรี,5/13/2024,3195a82a-8d49-481c-88f7-27b41d26b948,8cd68894-5b90-4185-ad85-850d6c49cd08,ตำบลหาดใหญ่ อำเภอหาดใหญ่ สงขลา 90110,"Hat Yai, Hat Yai District, Songkhla 90110, Tha...",APPROXIMATE,ChIJZ78-iEYoTTARuIGqoRmNjgM,7.008609,100.474737,"political,sublocality,sublocality_level_1",90110,หาดใหญ่,9011,2024-01-31,9011,0.5,315.0
1203,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),3832.0,0.0,630.0,3202.0,อำนาจการแพทย์คลินิก,สงขลา,คลินิก,RECORD,13/05/2024 15:21 น.,นาง จริยา บัวศรี,5/13/2024,3195a82a-8d49-481c-88f7-27b41d26b948,8a63a1e0-0a3c-4dae-a032-5ee8002f9225,ตำบลหาดใหญ่ อำเภอหาดใหญ่ สงขลา 90110,"Hat Yai, Hat Yai District, Songkhla 90110, Tha...",APPROXIMATE,ChIJZ78-iEYoTTARuIGqoRmNjgM,7.008609,100.474737,"political,sublocality,sublocality_level_1",90110,หาดใหญ่,9011,2024-01-31,9011,0.5,315.0
1204,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),3832.0,0.0,630.0,3202.0,อำนาจการแพทย์คลินิก,สงขลา,คลินิก,RECORD,13/05/2024 15:21 น.,นาง จริยา บัวศรี,5/13/2024,3195a82a-8d49-481c-88f7-27b41d26b948,b4e13180-9ae6-4d6a-8df1-343ded82de93,ตำบลหาดใหญ่ อำเภอหาดใหญ่ สงขลา 90110,"Hat Yai, Hat Yai District, Songkhla 90110, Tha...",APPROXIMATE,ChIJZ78-iEYoTTARuIGqoRmNjgM,7.008609,100.474737,"political,sublocality,sublocality_level_1",90110,หาดใหญ่,9011,2024-01-31,9011,0.5,315.0
1205,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),3832.0,0.0,630.0,3202.0,อำนาจการแพทย์คลินิก,สงขลา,คลินิก,RECORD,13/05/2024 15:21 น.,นาง จริยา บัวศรี,5/13/2024,3195a82a-8d49-481c-88f7-27b41d26b948,bd157c4b-1be9-4d28-81e1-0603772d01e9,ตำบลหาดใหญ่ อำเภอหาดใหญ่ สงขลา 90110,"Hat Yai, Hat Yai District, Songkhla 90110, Tha...",APPROXIMATE,ChIJZ78-iEYoTTARuIGqoRmNjgM,7.008609,100.474737,"political,sublocality,sublocality_level_1",90110,หาดใหญ่,9011,2024-01-31,9011,0.5,315.0

In [171]:
all_report_date = loc05['report_ce_year'].value_counts().reset_index().sort_values(by=['report_ce_year'])

In [172]:
all_report_date

   report_ce_year  count
1      2024-01-31   1028
2      2024-02-29   1028
0      2024-03-31   1031
5      2024-04-30   1025
3      2024-05-31   1028
4      2024-06-30   1028
6      2024-07-31   1018
7      2024-08-31   1013
9      2024-09-30   1005
8      2024-10-31   1010
10     2024-11-30    988
11     2024-12-31    977

In [163]:
all_report_date['report_ce_year'].transpose()

0    2024-03-31
1    2024-01-31
2    2024-02-29
3    2024-05-31
4    2024-06-30
5    2024-04-30
6    2024-07-31
7    2024-08-31
8    2024-10-31
9    2024-09-30
10   2024-11-30
11   2024-12-31
Name: report_ce_year, dtype: datetime64[ns]

In [173]:
for date in all_report_date['report_ce_year'].to_list():
    all05names[date] = np.nan

In [164]:
all05names.join(
    all_report_date['report_ce_year'].transpose()
)

                                      ReferCustomerName  count report_ce_year
0                                   อำนาจการแพทย์คลินิก     48     2024-03-31
5            คลินิกหมอสมรัก คลินิกเวชกรรมเฉพาะทางจิตเวช     36     2024-04-30
4                                    คลินิกแพทย์บันเทิง     36     2024-06-30
1                                  คลินิกใกล้หมอเวชกรรม     36     2024-01-31
2           นายแพทย์สุเมธคลินิกเวชกรรมเฉพาะทางอายุรกรรม     36     2024-02-29
...                                                 ...    ...            ...
1050         คลินิกเฉพาะทางด้านเวชกรรมจิตเวชแฮปปี้มายด์      1            NaT
1049                  โรงพยาบาลทั่วไปขนาดเล็กเซเปี้ยนซ์      1            NaT
1048  คลินิก หมอประสิทธิ์ คลินิกเฉพาะทางด้านเวชกรรม ...      1            NaT
1054  คลินิกหมอสุภาวดี สูติ-นรีแพทย์ และเวชปฏิบัติทั...      1            NaT
1055                                คลินิกพัฒนะการแพทย์      1            NaT

[1056 rows x 3 columns]

In [174]:
all05names

,ReferCustomerName,count,2024-01-31 00:00:00,2024-02-29 00:00:00,2024-03-31 00:00:00,2024-04-30 00:00:00,2024-05-31 00:00:00,2024-06-30 00:00:00,2024-07-31 00:00:00,2024-08-31 00:00:00,2024-09-30 00:00:00,2024-10-31 00:00:00,2024-11-30 00:00:00,2024-12-31 00:00:00
0,อำนาจการแพทย์คลินิก,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,คลินิกหมอสมรัก คลินิกเวชกรรมเฉพาะทางจิตเวช,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,คลินิกแพทย์บันเทิง,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,คลินิกใกล้หมอเวชกรรม,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,นายแพทย์สุเมธคลินิกเวชกรรมเฉพาะทางอายุรกรรม,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,คลินิกเฉพาะทางด้านเวชกรรมจิตเวชแฮปปี้มายด์,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,โรงพยาบาลทั่วไปขนาดเล็กเซเปี้ยนซ์,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,คลินิก หมอประสิทธิ์ คลินิกเฉพาะทางด้านเวชกรรม ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1054,คลินิกหมอสุภาวดี สูติ-นรีแพทย์ และเวชปฏิบัติทั...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,คลินิกพัฒนะการแพทย์,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
for i, row in all05names.iterrows():
    rcn = row['ReferCustomerName']
    date_list = all_report_date['report_ce_year'].to_list()
    for date in date_list:
        loc = loc05.loc[(loc05['ReferCustomerName'] == rcn) & (loc05['report_ce_year'] == date)]
        all05names.at[i, date] = loc['ReferCustomerName'].count()

In [181]:
all05names

,ReferCustomerName,count,2024-01-31 00:00:00,2024-02-29 00:00:00,2024-03-31 00:00:00,2024-04-30 00:00:00,2024-05-31 00:00:00,2024-06-30 00:00:00,2024-07-31 00:00:00,2024-08-31 00:00:00,2024-09-30 00:00:00,2024-10-31 00:00:00,2024-11-30 00:00:00,2024-12-31 00:00:00
0,อำนาจการแพทย์คลินิก,48,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
5,คลินิกหมอสมรัก คลินิกเวชกรรมเฉพาะทางจิตเวช,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,คลินิกแพทย์บันเทิง,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
1,คลินิกใกล้หมอเวชกรรม,36,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0
2,นายแพทย์สุเมธคลินิกเวชกรรมเฉพาะทางอายุรกรรม,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,คลินิกเฉพาะทางด้านเวชกรรมจิตเวชแฮปปี้มายด์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1049,โรงพยาบาลทั่วไปขนาดเล็กเซเปี้ยนซ์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1048,คลินิก หมอประสิทธิ์ คลินิกเฉพาะทางด้านเวชกรรม ...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1054,คลินิกหมอสุภาวดี สูติ-นรีแพทย์ และเวชปฏิบัติทั...,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1055,คลินิกพัฒนะการแพทย์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [182]:
all05names.reset_index()

,index,ReferCustomerName,count,2024-01-31 00:00:00,2024-02-29 00:00:00,2024-03-31 00:00:00,2024-04-30 00:00:00,2024-05-31 00:00:00,2024-06-30 00:00:00,2024-07-31 00:00:00,2024-08-31 00:00:00,2024-09-30 00:00:00,2024-10-31 00:00:00,2024-11-30 00:00:00,2024-12-31 00:00:00
0,0,อำนาจการแพทย์คลินิก,48,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
1,5,คลินิกหมอสมรัก คลินิกเวชกรรมเฉพาะทางจิตเวช,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,4,คลินิกแพทย์บันเทิง,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
3,1,คลินิกใกล้หมอเวชกรรม,36,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0
4,2,นายแพทย์สุเมธคลินิกเวชกรรมเฉพาะทางอายุรกรรม,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1050,คลินิกเฉพาะทางด้านเวชกรรมจิตเวชแฮปปี้มายด์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1052,1049,โรงพยาบาลทั่วไปขนาดเล็กเซเปี้ยนซ์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1053,1048,คลินิก หมอประสิทธิ์ คลินิกเฉพาะทางด้านเวชกรรม ...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1054,1054,คลินิกหมอสุภาวดี สูติ-นรีแพทย์ และเวชปฏิบัติทั...,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1055,1055,คลินิกพัฒนะการแพทย์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [190]:
customertype_df = df[['ReferCustomerName','CustomerTypeName']].drop_duplicates()

In [191]:
customertype_df

                                  ReferCustomerName  CustomerTypeName
0                             โรงพยาบาล ศรีประจันต์  สถานพยาบาลของรัฐ
1                 คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช            คลินิก
2        โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่    โรงพยาบาลเอกชน
3      โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่    โรงพยาบาลเอกชน
5                    คลินิกเวชกรรมแพทย์หญิงกนกนันท์            คลินิก
...                                             ...               ...
26840       บ้านสาทรคลินิกเฉพาะทางด้านเวชกรรมจิตเวช            คลินิก
26898    คลินิกเฉพาะทางด้านเวชกรรมจิตเวชแฮปปี้มายด์            คลินิก
27443        ดีจีบีสหคลินิก (เวชกรรมและกายภาพบำบัด)            คลินิก
28028                      คลินิกเวชกรรมดิเรก-พรรณี            คลินิก
28172                            หมอกิ๊ฟลันสหคลินิก            คลินิก

[1297 rows x 2 columns]

In [192]:
customertype_df['ReferCustomerName'].value_counts()

ReferCustomerName
หมอกิ๊ฟลันสหคลินิก                                                   1
บลูสกายคลินิกเฉพาะทางด้านเวชกรรมสาขาจิตเวช                           1
ลองก้าฮาร์ทเฮลท์คลินิกเฉพาะทางด้านเวชกรรม สาขาอายุรศาสตร์โรคหัวใจ    1
คลินิกเวชกรรมนายแพทย์ธนชัย-แพทย์หญิงมัญชุภา                          1
คลินิกเฉพาะทางด้านเวชกรรม  หู คอ จมูก หมอจารึก                       1
                                                                    ..
อนุรักษ์คลินิกเวชกรรม                                                1
คลินิกเวชกรรมแพทย์หญิงกนกนันท์                                       1
โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่                         1
โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่                           1
คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช                                    1
Name: count, Length: 1297, dtype: int64

In [193]:
all05names = all05names.merge(
    customertype_df,
    how = 'left',
    left_on = ['ReferCustomerName'],
    right_on = ['ReferCustomerName'],
    validate = '1:1'
)

In [194]:
all05names

,ReferCustomerName,count,2024-01-31 00:00:00,2024-02-29 00:00:00,2024-03-31 00:00:00,2024-04-30 00:00:00,2024-05-31 00:00:00,2024-06-30 00:00:00,2024-07-31 00:00:00,2024-08-31 00:00:00,2024-09-30 00:00:00,2024-10-31 00:00:00,2024-11-30 00:00:00,2024-12-31 00:00:00,CustomerTypeName
0,อำนาจการแพทย์คลินิก,48,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,คลินิก
1,คลินิกหมอสมรัก คลินิกเวชกรรมเฉพาะทางจิตเวช,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,คลินิก
2,คลินิกแพทย์บันเทิง,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,คลินิก
3,คลินิกใกล้หมอเวชกรรม,36,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,0.0,0.0,0.0,คลินิก
4,นายแพทย์สุเมธคลินิกเวชกรรมเฉพาะทางอายุรกรรม,36,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,คลินิก
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,คลินิกเฉพาะทางด้านเวชกรรมจิตเวชแฮปปี้มายด์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,คลินิก
1052,โรงพยาบาลทั่วไปขนาดเล็กเซเปี้ยนซ์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,โรงพยาบาลเอกชน
1053,คลินิก หมอประสิทธิ์ คลินิกเฉพาะทางด้านเวชกรรม ...,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,คลินิก
1054,คลินิกหมอสุภาวดี สูติ-นรีแพทย์ และเวชปฏิบัติทั...,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,คลินิก
1055,คลินิกพัฒนะการแพทย์,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,คลินิก

In [195]:
all05names.to_csv('C:/Users/ASUS/Downloads/alpra0-5mg_allreportdate.csv')

<h1>Plot send date vs. records count</h1>

In [251]:
gr_senddate = df.groupby(by=['MonthlyReportNarcoticName','SendReportDate'])['ReferCustomerName'].count().reset_index().sort_values(by=['SendReportDate'])

In [240]:
gr_senddate

,MonthlyReportNarcoticName,SendReportDate,ReferCustomerName
0,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,1/1/2025,8
803,Alprazolam tablets 0.5 mg (Pharmasant),1/1/2025,2
888,Alprazolam tablets 0.5 mg (Polipharm),1/1/2025,14
1311,Alprazolam tablets 1 mg (Pharmasant),1/1/2025,1
396,Alprazolam tablets 0.25 mg (Polipharm),1/1/2025,10
...,...,...,...
395,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9/9/2024,24
1310,Alprazolam tablets 0.5 mg (Polipharm),9/9/2024,41
802,Alprazolam tablets 0.25 mg (Polipharm),9/9/2024,28
887,Alprazolam tablets 0.5 mg (Pharmasant),9/9/2024,1
1519,Alprazolam tablets 1 mg (Pharmasant),9/9/2024,2

In [252]:
gr_senddate['SendReportDate'] = pd.to_datetime(gr_senddate['SendReportDate'])

In [253]:
agg_senddate = gr_senddate.set_index('SendReportDate')

In [226]:
gr_senddate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1520 entries, 0 to 1519
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   MonthlyReportNarcoticName  1520 non-null   object
 1   SendReportDate             1520 non-null   datetime64[ns]
 2   ReferCustomerName          1520 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 47.5+ KB

In [222]:
agg_senddate.columns

Index(['MonthlyReportNarcoticName', 'ReferCustomerName'], dtype='object')

In [218]:
agg_senddate.index

Index(['1/1/2025', '1/1/2025', '1/1/2025', '1/1/2025', '1/1/2025', '1/10/2025',
       '1/10/2025', '1/10/2025', '1/11/2025', '1/11/2025',
       ...
       '9/6/2024', '9/6/2024', '9/7/2024', '9/7/2024', '9/7/2024', '9/9/2024',
       '9/9/2024', '9/9/2024', '9/9/2024', '9/9/2024'],
      dtype='object', name='SendReportDate', length=1520)

In [258]:
agg_senddate.resample('ME').sum()

,MonthlyReportNarcoticName,ReferCustomerName
SendReportDate,,
2024-01-31,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,23
2024-02-29,Alprazolam tablets 0.5 mg (Polipharm)Alprazola...,1161
2024-03-31,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,2351
2024-04-30,Alprazolam tablets 1 mg (Pharmasant)Alprazolam...,1562
2024-05-31,Alprazolam tablets 0.25 mg (Polipharm)Alprazol...,2582
2024-06-30,Alprazolam tablets 0.25 mg (Polipharm)Alprazol...,2300
2024-07-31,Alprazolam tablets 1 mg (Pharmasant)Alprazolam...,2476
2024-08-31,Alprazolam tablets 1 mg (Pharmasant)Alprazolam...,2291
2024-09-30,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,2023
2024-10-31,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,2449
2024-11-30,Alprazolam tablets 0.5 mg (Polipharm)Alprazola...,2086
2024-12-31,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,1996
2025-01-31,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,2806
2025-02-28,Alprazolam tablets 0.25 mg (Polipharm)Alprazol...,1013
2025-03-31,Alprazolam tablets 0.5 mg (Polipharm)Alprazola...,472
2025-04-30,Alprazolam tablets 0.25 mg (Polipharm)Alprazol...,452
2025-05-31,Alprazolam tablets 0.5 mg (Polipharm)Alprazola...,130
2025-06-30,Alprazolam tablets 0.5 mg (Polipharm)Alprazola...,6

In [257]:
resample = agg_senddate.resample('ME')['ReferCustomerName'].sum().reset_index()

In [256]:
resample.reset_index()

   SendReportDate  ReferCustomerName
0      2024-01-31                 23
1      2024-02-29               1161
2      2024-03-31               2351
3      2024-04-30               1562
4      2024-05-31               2582
5      2024-06-30               2300
6      2024-07-31               2476
7      2024-08-31               2291
8      2024-09-30               2023
9      2024-10-31               2449
10     2024-11-30               2086
11     2024-12-31               1996
12     2025-01-31               2806
13     2025-02-28               1013
14     2025-03-31                472
15     2025-04-30                452
16     2025-05-31                130
17     2025-06-30                  6

In [201]:
df.loc[(df['MonthlyReportNarcoticName'] == 'Alprazolam tablets 1 mg (Pharmasant)') & (df['SendReportDate'] =='9/9/2024')]

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year,amp_code2,strength,nominal_wt
16778,2567.0,8,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 1 mg (Pharmasant),0.0,0.0,0.0,0.0,โรงพยาบาล ประสาท เชียงใหม่,เชียงใหม่,สถานพยาบาลของรัฐ,ONLINE,9/09/2024 13:53 น.,นาง อำไพ พิมพ์ไกร,9/9/2024,31e05894-e65b-442a-9cd6-a43367393c4b,70466b8d-dbc6-4ee2-815a-815d20d8488f,2 ถนนสุเทพ แขวงสุเทพ เขตเมืองเชียงใหม่ จังหวัด...,"2 Suthep Rd, Tambon Su Thep, Amphoe Mueang Chi...",ROOFTOP,ChIJnTwY9Xo62jARi5yDoykKoCM,18.791301,98.959131,"premise,street_address",50200,เมืองเชียงใหม่,5001,2024-08-31,5001,1,0.0
18932,2567.0,8,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 1 mg (Pharmasant),0.0,0.0,0.0,0.0,โรงพยาบาลสิงห์บุรีเวชชการ (หมอประเจิด) โรงพยาบ...,สิงห์บุรี,โรงพยาบาลเอกชน,ONLINE,9/09/2024 9:56 น.,นาง พัชรี เตียววิจิตรสีใส,9/9/2024,5bbf37f3-f4d9-4def-8f8e-b2bb22f25dc3,512b7a4a-efba-4829-9d02-43365fb076c1,80/1 ม.6 ถนนสิงห์บุรี-อ่างทอง ตำบลต้นโพธิ์ อำเ...,"6 ถนน สิงห์บุรี Tambon Ton Pho, Amphoe Mueang ...",ROOFTOP,ChIJUdZlWdDw4TAR1y8LwT9n_1U,14.897978,100.403453,"street_address,subpremise",16000,เมืองสิงห์บุรี,1701,2024-08-31,1701,1,0.0

In [231]:
resample.index

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31',
               '2025-01-31', '2025-02-28', '2025-03-31', '2025-04-30',
               '2025-05-31', '2025-06-30'],
              dtype='datetime64[ns]', name='SendReportDate', freq='ME')

In [244]:
resample = resample.reset_index()

In [246]:
resample['MonthlyReportNarcoticName']

0     Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
1     Alprazolam tablets 0.5 mg (Polipharm)Alprazola...
2     Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
3     Alprazolam tablets 1 mg (Pharmasant)Alprazolam...
4     Alprazolam tablets 0.25 mg (Polipharm)Alprazol...
5     Alprazolam tablets 0.25 mg (Polipharm)Alprazol...
6     Alprazolam tablets 1 mg (Pharmasant)Alprazolam...
7     Alprazolam tablets 1 mg (Pharmasant)Alprazolam...
8     Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
9     Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
10    Alprazolam tablets 0.5 mg (Polipharm)Alprazola...
11    Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
12    Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
13    Alprazolam tablets 0.25 mg (Polipharm)Alprazol...
14    Alprazolam tablets 0.5 mg (Polipharm)Alprazola...
15    Alprazolam tablets 0.25 mg (Polipharm)Alprazol...
16    Alprazolam tablets 0.5 mg (Polipharm)Alprazola...
17    Alprazolam tablets 0.5 mg (Polipharm)Alprazola...
Name: MonthlyReportNarcoticName, dtype: object

In [250]:
resample['MonthlyReportNarcoticName'].iloc[0]

'Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)Alprazolam tablets 0.25 mg (Polipharm)Alprazolam tablets 0.5 mg (Polipharm)Alprazolam tablets 0.5 mg (Polipharm)Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)Alprazolam tablets 0.25 mg (Polipharm)Alprazolam tablets 0.5 mg (Polipharm)Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)'

In [260]:
fig = px.line(
    resample,
    x="SendReportDate",
    y="ReferCustomerName"
)
fig.show()

In [262]:
df.to_csv('C:/Users/ASUS/Downloads/gold_alpra28179.csv')

<h1>Scatter plot to see if there is any correlation between send date and report date</h1>

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28179 entries, 0 to 28178
Data columns (total 31 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ReportDisburseNarcoticBeYear              28179 non-null  float64
 1   ReportDisburseNarcoticMonth               28179 non-null  object
 2   ProductTypeName                           28179 non-null  object
 3   MonthlyReportNarcoticName                 28179 non-null  object
 4   MonthlyReportNarcoticBalanceForwardValue  28179 non-null  float64
 5   MonthlyReportNarcoticReceiveValue         28179 non-null  float64
 6   MonthlyReportNarcoticPaidValue            28179 non-null  float64
 7   MonthlyReportNarcoticRemainValue          28179 non-null  float64
 8   ReferCustomerName                         28179 non-null  object
 9   CustomerAddressProvinceName               28179 non-null  object
 10  CustomerTypeName                          28179 non-null  object
 11  ReportDisburseNarcoticRecordType          28179 non-null  object
 12  CreateDateTime                            28179 non-null  object
 13  ReportDisburseNarcoticRequestorName       28179 non-null  object
 14  SendReportDate                            28179 non-null  datetime64[ns]
 15  uuid_x                                    28179 non-null  object
 16  uuid_y                                    28179 non-null  object
 17  fullAddress                               28179 non-null  object
 18  formatted_address                         28179 non-null  object
 19  location_type                             28179 non-null  object
 20  place_id                                  28179 non-null  object
 21  lat                                       28179 non-null  float64
 22  lng                                       28179 non-null  float64
 23  types                                     28179 non-null  object
 24  zip_code                                  28179 non-null  int64
 25  district_name                             28179 non-null  object
 26  amp_code                                  28179 non-null  int64
 27  report_ce_year                            28179 non-null  datetime64[ns]
 28  amp_code2                                 28179 non-null  object
 29  strength                                  28179 non-null  object
 30  nominal_wt                                28179 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(2), object(19)
memory usage: 6.7+ MB

In [264]:
df['SendReportDate'] = pd.to_datetime(df['SendReportDate'])

In [32]:
deadline_df = df[['SendReportDate',"report_ce_year"]].copy()

In [33]:
deadline_df['report_deadline'] = deadline_df['report_ce_year'] + pd.DateOffset(months=1)

In [34]:
deadline_df.drop_duplicates(subset=['report_ce_year']).sort_values(by=['report_ce_year'])

      SendReportDate report_ce_year report_deadline
0         2024-03-16     2024-01-31      2024-02-29
2365      2024-04-02     2024-02-29      2024-03-29
4737      2024-04-09     2024-03-31      2024-04-30
7111      2024-06-11     2024-04-30      2024-05-30
9476      2024-07-03     2024-05-31      2024-06-30
11852     2024-07-12     2024-06-30      2024-07-30
14222     2024-11-11     2024-07-31      2024-08-31
16580     2024-09-23     2024-08-31      2024-09-30
18945     2024-11-04     2024-09-30      2024-10-30
21289     2025-04-11     2024-10-31      2024-11-30
23624     2024-12-02     2024-11-30      2024-12-30
25914     2025-01-30     2024-12-31      2025-01-31

In [36]:
fig = px.scatter(
    df,
    x = "SendReportDate",
    y = "report_ce_year",
    color = "CustomerTypeName"
)
trace_line = go.Scatter(
    x= deadline_df["report_deadline"],
    y= deadline_df["report_ce_year"],
    line_color="black", name="deadline"
)

fig.add_trace(trace_line)
fig.show()

In [35]:
fig = px.line(
    deadline_df.drop_duplicates(subset=['report_ce_year']).sort_values(by=['report_ce_year']),
    x= "report_ce_year",
    y= "report_deadline",
    markers=True
)
fig.show()

In [45]:
report_ce1 = deadline_df["report_ce_year"].iloc[0]
report_ce1

Timestamp('2024-01-31 00:00:00')

In [46]:
report_ce1_df = df.loc[df["report_ce_year"] == report_ce1]["SendReportDate"]

In [53]:
deadline_df = deadline_df.drop_duplicates(subset=['report_ce_year'])

In [54]:
deadline_df

      SendReportDate report_ce_year report_deadline
0         2024-03-16     2024-01-31      2024-02-29
2365      2024-04-02     2024-02-29      2024-03-29
4737      2024-04-09     2024-03-31      2024-04-30
7111      2024-06-11     2024-04-30      2024-05-30
9476      2024-07-03     2024-05-31      2024-06-30
11852     2024-07-12     2024-06-30      2024-07-30
14222     2024-11-11     2024-07-31      2024-08-31
16580     2024-09-23     2024-08-31      2024-09-30
18945     2024-11-04     2024-09-30      2024-10-30
21289     2025-04-11     2024-10-31      2024-11-30
23624     2024-12-02     2024-11-30      2024-12-30
25914     2025-01-30     2024-12-31      2025-01-31

In [74]:
df['CustomerTypeName'].drop_duplicates().reset_index()

   index    CustomerTypeName
0      0    สถานพยาบาลของรัฐ
1      1              คลินิก
2      2      โรงพยาบาลเอกชน
3     48     สถานพยาบาลสัตว์
4    702  สถานพยาบาลทันตกรรม

In [81]:
colors_ctn_df = df['CustomerTypeName'].drop_duplicates().reset_index()

In [83]:
colors_ctn_df

   index    CustomerTypeName
0      0    สถานพยาบาลของรัฐ
1      1              คลินิก
2      2      โรงพยาบาลเอกชน
3     48     สถานพยาบาลสัตว์
4    702  สถานพยาบาลทันตกรรม

In [89]:
colors_ctn_df['color'] = ['red','green','blue','yellow','purple']

In [90]:
colors_ctn_df

   index    CustomerTypeName   color
0      0    สถานพยาบาลของรัฐ     red
1      1              คลินิก   green
2      2      โรงพยาบาลเอกชน    blue
3     48     สถานพยาบาลสัตว์  yellow
4    702  สถานพยาบาลทันตกรรม  purple

In [101]:
colors_ctn_df['CustomerTypeName'].to_list()

['สถานพยาบาลของรัฐ',
 'คลินิก',
 'โรงพยาบาลเอกชน',
 'สถานพยาบาลสัตว์',
 'สถานพยาบาลทันตกรรม']

In [70]:
n_colors('rgb(5, 200, 200)', 'rgb(200, 10, 10)', 5, colortype='rgb')

['rgb(5.0, 200.0, 200.0)',
 'rgb(53.75, 152.5, 152.5)',
 'rgb(102.5, 105.0, 105.0)',
 'rgb(151.25, 57.5, 57.5)',
 'rgb(200.0, 10.0, 10.0)']

<h2>divided by customer type names</h2>

In [91]:
fig = go.Figure()

for i, row in deadline_df.reset_index().iterrows():
    report_ce = row['report_ce_year']
    print(report_ce)
    name = report_ce.strftime("%b-%Y").upper()
    allloc = df.loc[df["report_ce_year"] == report_ce]
    allctn = allloc['CustomerTypeName'].drop_duplicates()
    for ctn in allctn:
        print(ctn)
        fig.add_trace(go.Violin(
            x=allloc.loc[allloc['CustomerTypeName'] == ctn]["SendReportDate"],
            legendgroup=ctn, scalegroup=ctn, name=name,
            line_color=colors_ctn_df.loc[colors_ctn_df['CustomerTypeName'] == ctn].iloc[0]['color']
        ))
fig.update_traces(orientation='h', side='positive', width=3, points=False)
fig.update_layout(xaxis_showgrid=False, xaxis_zeroline=False, title="Ridge plot แสดงการกระจายวันที่ส่งรายงาน ในแต่ละเดือนที่รายงานยอดจ่ายยา Alprazolam")
# fig.write_html('C:/Users/ASUS/Downloads/ridge_plot_reportce_vs_sendreport_all.html')
fig.show()

2024-01-31 00:00:00
สถานพยาบาลของรัฐ
คลินิก
โรงพยาบาลเอกชน
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-02-29 00:00:00
โรงพยาบาลเอกชน
สถานพยาบาลของรัฐ
คลินิก
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-03-31 00:00:00
สถานพยาบาลของรัฐ
คลินิก
โรงพยาบาลเอกชน
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-04-30 00:00:00
โรงพยาบาลเอกชน
สถานพยาบาลของรัฐ
สถานพยาบาลสัตว์
คลินิก
สถานพยาบาลทันตกรรม
2024-05-31 00:00:00
สถานพยาบาลของรัฐ
คลินิก
โรงพยาบาลเอกชน
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-06-30 00:00:00
สถานพยาบาลของรัฐ
โรงพยาบาลเอกชน
คลินิก
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-07-31 00:00:00
คลินิก
สถานพยาบาลของรัฐ
โรงพยาบาลเอกชน
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-08-31 00:00:00
สถานพยาบาลของรัฐ
คลินิก
โรงพยาบาลเอกชน
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-09-30 00:00:00
สถานพยาบาลของรัฐ
คลินิก
โรงพยาบาลเอกชน
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-10-31 00:00:00
คลินิก
โรงพยาบาลเอกชน
สถานพยาบาลของรัฐ
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-11-30 00:00:00
โรงพยาบาลเอกชน
คลินิก
สถานพยาบาลของรัฐ
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม
2024-12-31 00:00:00
โรงพยาบาลเอกชน
คลินิก
สถานพยาบาลของรัฐ
สถานพยาบาลสัตว์
สถานพยาบาลทันตกรรม

<h3>post-process calculate significant level for each trace</h3>

<p>The strategy is to populate subgroups and perform the statistics tests for the following:</p>
<p> Steps: filter eoreport month >> filter ctn</p>
<li>1) สถานพยาบาลของรัฐ vs. คลินิก</li>
<li>2) สถานพยาบาลของรัฐ vs. โรงพยาบาลเอกชน</li>
<li>3) สถานพยาบาลของรัฐ vs. สถานพยาบาลสัตว์</li>

In [104]:
subgroups_list = list(combinations(colors_ctn_df['CustomerTypeName'].to_list(), 2))

In [105]:
subgroups_df = pd.DataFrame(subgroups_list, columns=['subgroup_a', 'subgroup_b'])

In [106]:
subgroups_df

         subgroup_a          subgroup_b
0  สถานพยาบาลของรัฐ              คลินิก
1  สถานพยาบาลของรัฐ      โรงพยาบาลเอกชน
2  สถานพยาบาลของรัฐ     สถานพยาบาลสัตว์
3  สถานพยาบาลของรัฐ  สถานพยาบาลทันตกรรม
4            คลินิก      โรงพยาบาลเอกชน
5            คลินิก     สถานพยาบาลสัตว์
6            คลินิก  สถานพยาบาลทันตกรรม
7    โรงพยาบาลเอกชน     สถานพยาบาลสัตว์
8    โรงพยาบาลเอกชน  สถานพยาบาลทันตกรรม
9   สถานพยาบาลสัตว์  สถานพยาบาลทันตกรรม

In [107]:
def mannwhitneyu_test(sname1,sname2,test_df,test_col,cat_col):
    # Sample data
    # data = {'group': ['A', 'B', 'A', 'A', 'B', 'B', 'A', 'B'],
    #         'value': [10, 15, 12, 11, 25, 20, 14, 18]}
    # df = pd.DataFrame(data)
    
    # Separate the values for each group
    group_a = test_df[test_df[cat_col] == sname1][test_col]
    group_b = test_df[test_df[cat_col] == sname1][test_col]
    
    # Perform the Mann-Whitney U test
    statistic, p_value = stats.mannwhitneyu(group_a, group_b)

    alpha = 0.05
    result = {
        "statistic": statistic,
        "p_value": p_value,
        "isSignificant": p_value < alpha
    }
    return pd.Series(result)
    # print(f"Mann-Whitney U statistic: {statistic}")
    # print(f"P-value: {p_value}")
    
    # Interpret the result
    
    # if p_value < alpha:
    #     print("The difference between the groups is statistically significant.")
    # else:
    #     print("The difference between the groups is not statistically significant.")
    # return

In [108]:
result_df = subgroups_df.apply(
    lambda row: mannwhitneyu_test(
        row['subgroup_a'],
        row['subgroup_b'],
        test_df=df,
        test_col='SendReportDate',
        cat_col='CustomerTypeName'
    ),
    axis=1  # axis=1 ensures the function is applied to each row
)

In [ ]:
# overall

In [109]:
result_df

    statistic  p_value  isSignificant
0  13702612.5      1.0          False
1  13702612.5      1.0          False
2  13702612.5      1.0          False
3  13702612.5      1.0          False
4  93982050.0      1.0          False
5  93982050.0      1.0          False
6  93982050.0      1.0          False
7  40266338.0      1.0          False
8  40266338.0      1.0          False
9     30752.0      1.0          False

In [110]:
pd.concat([subgroups_df,result_df],axis=1)

         subgroup_a          subgroup_b   statistic  p_value  isSignificant
0  สถานพยาบาลของรัฐ              คลินิก  13702612.5      1.0          False
1  สถานพยาบาลของรัฐ      โรงพยาบาลเอกชน  13702612.5      1.0          False
2  สถานพยาบาลของรัฐ     สถานพยาบาลสัตว์  13702612.5      1.0          False
3  สถานพยาบาลของรัฐ  สถานพยาบาลทันตกรรม  13702612.5      1.0          False
4            คลินิก      โรงพยาบาลเอกชน  93982050.0      1.0          False
5            คลินิก     สถานพยาบาลสัตว์  93982050.0      1.0          False
6            คลินิก  สถานพยาบาลทันตกรรม  93982050.0      1.0          False
7    โรงพยาบาลเอกชน     สถานพยาบาลสัตว์  40266338.0      1.0          False
8    โรงพยาบาลเอกชน  สถานพยาบาลทันตกรรม  40266338.0      1.0          False
9   สถานพยาบาลสัตว์  สถานพยาบาลทันตกรรม     30752.0      1.0          False

In [111]:
# loop for all filtered sub-group eomonth
result_df = pd.DataFrame()
for i, r in deadline_df.iterrows():
    emonth = r['report_ce_year']
    r_df = subgroups_df.apply(
        lambda row: mannwhitneyu_test(
            row['subgroup_a'],
            row['subgroup_b'],
            test_df=df.loc[df['report_ce_year'] == emonth],
            test_col='SendReportDate',
            cat_col='CustomerTypeName'
        ),
        axis=1  # axis=1 ensures the function is applied to each row
    )
    concat_df = pd.concat([subgroups_df,r_df],axis=1)
    concat_df['report_ce_year'] = emonth
    result_df = pd.concat([result_df,concat_df])

In [113]:
result_df['isSignificant'].value_counts()

isSignificant
False    120
Name: count, dtype: int64

In [114]:
result_df.to_csv('C:/Users/ASUS/Downloads/mannwhitneyu_test_sub_ctn.csv')

<h2>divided by SKUs name</h2>

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28179 entries, 0 to 28178
Data columns (total 32 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   ReportDisburseNarcoticBeYear              28179 non-null  float64
 1   ReportDisburseNarcoticMonth               28179 non-null  object
 2   ProductTypeName                           28179 non-null  object
 3   MonthlyReportNarcoticName                 28179 non-null  object
 4   MonthlyReportNarcoticBalanceForwardValue  28179 non-null  float64
 5   MonthlyReportNarcoticReceiveValue         28179 non-null  float64
 6   MonthlyReportNarcoticPaidValue            28179 non-null  float64
 7   MonthlyReportNarcoticRemainValue          28179 non-null  float64
 8   ReferCustomerName                         28179 non-null  object
 9   CustomerAddressProvinceName               28179 non-null  object
 10  CustomerTypeName                          28179 non-null  object
 11  ReportDisburseNarcoticRecordType          28179 non-null  object
 12  CreateDateTime                            28179 non-null  object
 13  ReportDisburseNarcoticRequestorName       28179 non-null  object
 14  SendReportDate                            28179 non-null  datetime64[ns]
 15  uuid_x                                    28179 non-null  object
 16  uuid_y                                    28179 non-null  object
 17  fullAddress                               28179 non-null  object
 18  formatted_address                         28179 non-null  object
 19  location_type                             28179 non-null  object
 20  place_id                                  28179 non-null  object
 21  lat                                       28179 non-null  float64
 22  lng                                       28179 non-null  float64
 23  types                                     28179 non-null  object
 24  zip_code                                  28179 non-null  int64
 25  district_name                             28179 non-null  object
 26  amp_code                                  28179 non-null  int64
 27  report_ce_year                            28179 non-null  datetime64[ns]
 28  dn_internal                               28179 non-null  object
 29  amp_code2                                 28179 non-null  object
 30  strength                                  28179 non-null  object
 31  nominal_wt                                28179 non-null  float64
dtypes: datetime64[ns](2), float64(8), int64(2), object(20)
memory usage: 6.9+ MB

In [93]:
skuname_colors =df['MonthlyReportNarcoticName'].drop_duplicates().reset_index()

In [95]:
skuname_colors['color'] = ['red','green','blue','yellow','purple']

In [96]:
skuname_colors

   index                          MonthlyReportNarcoticName   color
0      0             Alprazolam tablets 0.25 mg (Polipharm)     red
1      1              Alprazolam tablets 0.5 mg (Polipharm)   green
2      7  Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...    blue
3     24               Alprazolam tablets 1 mg (Pharmasant)  yellow
4    130             Alprazolam tablets 0.5 mg (Pharmasant)  purple

In [98]:
fig = go.Figure()

for i, row in deadline_df.reset_index().iterrows():
    report_ce = row['report_ce_year']
    print(report_ce)
    name = report_ce.strftime("%b-%Y").upper()
    allloc = df.loc[df["report_ce_year"] == report_ce]
    allctn = allloc['MonthlyReportNarcoticName'].drop_duplicates()
    for ctn in allctn:
        print(ctn)
        fig.add_trace(go.Violin(
            x=allloc.loc[allloc['MonthlyReportNarcoticName'] == ctn]["SendReportDate"],
            legendgroup=ctn, scalegroup=ctn, name=name,
            line_color=skuname_colors.loc[skuname_colors['MonthlyReportNarcoticName'] == ctn].iloc[0]['color']
        ))
fig.update_traces(orientation='h', side='positive', width=3, points=False)
fig.update_layout(xaxis_showgrid=False, xaxis_zeroline=False, title="Ridge plot แสดงการกระจายวันที่ส่งรายงาน ในแต่ละเดือนที่รายงานยอดจ่ายยา Alprazolam")
# fig.write_html('C:/Users/ASUS/Downloads/ridge_plot_reportce_vs_sendreport_all.html')
fig.show()

2024-01-31 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-02-29 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-03-31 00:00:00
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-04-30 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.5 mg (Pharmasant)
Alprazolam tablets 1 mg (Pharmasant)
2024-05-31 00:00:00
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-06-30 00:00:00
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-07-31 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-08-31 00:00:00
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 0.5 mg (Pharmasant)
Alprazolam tablets 1 mg (Pharmasant)
2024-09-30 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablets 0.5 mg (Pharmasant)
Alprazolam tablets 1 mg (Pharmasant)
2024-10-31 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-11-30 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)
2024-12-31 00:00:00
Alprazolam tablets 0.25 mg (Polipharm)
Alprazolam tablet 1.0 mg (Polipharm) (100 tab/box)
Alprazolam tablets 0.5 mg (Polipharm)
Alprazolam tablets 1 mg (Pharmasant)
Alprazolam tablets 0.5 mg (Pharmasant)

<h3>post-process calculate significant level for each trace</h3>

In [117]:
subgroups_skus_list = list(combinations(df['MonthlyReportNarcoticName'].drop_duplicates().to_list(), 2))

In [118]:
subgroups_df = pd.DataFrame(subgroups_skus_list, columns=['subgroup_a', 'subgroup_b'])

In [119]:
subgroups_df

,subgroup_a,subgroup_b
0,Alprazolam tablets 0.25 mg (Polipharm),Alprazolam tablets 0.5 mg (Polipharm)
1,Alprazolam tablets 0.25 mg (Polipharm),Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
2,Alprazolam tablets 0.25 mg (Polipharm),Alprazolam tablets 1 mg (Pharmasant)
3,Alprazolam tablets 0.25 mg (Polipharm),Alprazolam tablets 0.5 mg (Pharmasant)
4,Alprazolam tablets 0.5 mg (Polipharm),Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...
5,Alprazolam tablets 0.5 mg (Polipharm),Alprazolam tablets 1 mg (Pharmasant)
6,Alprazolam tablets 0.5 mg (Polipharm),Alprazolam tablets 0.5 mg (Pharmasant)
7,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,Alprazolam tablets 1 mg (Pharmasant)
8,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,Alprazolam tablets 0.5 mg (Pharmasant)
9,Alprazolam tablets 1 mg (Pharmasant),Alprazolam tablets 0.5 mg (Pharmasant)

In [120]:
# loop for all filtered sub-group eomonth
result_skus_df = pd.DataFrame()
for i, r in deadline_df.iterrows():
    emonth = r['report_ce_year']
    r_df = subgroups_df.apply(
        lambda row: mannwhitneyu_test(
            row['subgroup_a'],
            row['subgroup_b'],
            test_df=df.loc[df['report_ce_year'] == emonth],
            test_col='SendReportDate',
            cat_col='MonthlyReportNarcoticName'
        ),
        axis=1  # axis=1 ensures the function is applied to each row
    )
    concat_df = pd.concat([subgroups_df,r_df],axis=1)
    concat_df['report_ce_year'] = emonth
    result_skus_df = pd.concat([result_skus_df,concat_df])

In [122]:
result_skus_df['isSignificant'].value_counts()

isSignificant
False    120
Name: count, dtype: int64

In [124]:
result_skus_df.to_csv('C:/Users/ASUS/Downloads/mannwhitneyu_test_sub_skus.csv')

In [31]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year,dn_internal,amp_code2,strength,nominal_wt
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31,ศรีประจันต์,7205,0.25,125.00
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31,กะทู้,8302,0.50,0.00
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31,บ้านโป่ง,7005,0.50,306.00
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,พระประแดง,1104,0.25,116.25
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,พระประแดง,1104,0.50,478.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,เมืองนราธิวาส,9601,1.00,342.00
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,เมืองนราธิวาส,9601,1.00,342.00
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,0.25,596.50
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,1.00,3748.00
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,0.50,2203.50

<h1>Plot GIS data</h1>

In [49]:
# groupby ยอดจ่าย, nomonal wt
agg_gis = df.groupby(by=['ReferCustomerName','lng','lat','amp_code2'])['nominal_wt'].sum().reset_index()

In [92]:
agg_gis['ReferCustomerName'].value_counts()

ReferCustomerName
ไวทัลไลฟ์คลินิกเวชกรรม สาขา 2                                          2
ไวทัลไลฟ์สหคลินิก                                                      2
มอร์นิ่งมายด์คลินิกเฉพาะทางด้านเวชกรรมจิตเวช                           2
คลินิกเวชกรรมแพทย์สมชาย                                                2
โรงพยาบาลเทพากรโรงพยาบาลทั่วไปขนาดใหญ่                                 1
                                                                      ..
โรงพยาบาลเอสโรงพยาบาลเฉพาะทางด้านกระดูกสันหลังและระบบประสาทขนาดเล็ก    1
โรงพยาบาลเอเชียอินเตอร์เนชั่นแนล โรงพยาบาลทั่วไปขนาดกลาง               1
โรงพยาบาลแพทย์รังสิต 2 โรงพยาบาลทั่วไปขนาดกลาง                         1
โรงพยาบาลแพทย์รังสิตโรงพยาบาลทั่วไปขนาดใหญ่                            1
2011 คลินิกเวชกรรม                                                     1
Name: count, Length: 1297, dtype: int64

In [89]:
df

,ReportDisburseNarcoticBeYear,ReportDisburseNarcoticMonth,ProductTypeName,MonthlyReportNarcoticName,MonthlyReportNarcoticBalanceForwardValue,MonthlyReportNarcoticReceiveValue,MonthlyReportNarcoticPaidValue,MonthlyReportNarcoticRemainValue,ReferCustomerName,CustomerAddressProvinceName,CustomerTypeName,ReportDisburseNarcoticRecordType,CreateDateTime,ReportDisburseNarcoticRequestorName,SendReportDate,uuid_x,uuid_y,fullAddress,formatted_address,location_type,place_id,lat,lng,types,zip_code,district_name,amp_code,report_ce_year,dn_internal,amp_code2,strength,nominal_wt
0,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),1829.0,0.0,500.0,1329.0,โรงพยาบาล ศรีประจันต์,สุพรรณบุรี,สถานพยาบาลของรัฐ,RECORD,16/03/2024 14:43 น.,นางสาว สมัชญา บุญขวัญดี,2024-03-16,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,ddb6e8dd-53a5-44c4-b727-df5d5884e7f8,218 ถนนสุพรรณบุรี-ชัยนาถ แขวงวังน้ำซับ เขตศรีป...,"218 สุพรรณบุรี - ชัยนาท Tambon Si Prachan, Amp...",ROOFTOP,ChIJ7dkWP78k4jAR5xZD6aeOngA,14.641639,100.149439,"premise,street_address",72140,ศรีประจันต์,7205,2024-01-31,ศรีประจันต์,7205,0.25,125.00
1,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),500.0,0.0,0.0,500.0,คลินิกเวชกรรมด็อกเตอร์ป่าตองวรเวช,ภูเก็ต,คลินิก,RECORD,14/03/2024 9:08 น.,นางสาว จริยา บัวศรี,2024-03-14,efd5c13a-af08-46be-8591-843fec8306a9,82862aaa-36cd-40fc-9c51-222b2401a4b5,47/14-15 ถนนราษฎร์อุทิศ 200 ปี ตำบลป่าตอง อำเภ...,"Rat Uthit Song Roi Pi Rd, Tambon Patong, Ampho...",GEOMETRIC_CENTER,ChIJc_7cxrw6UDARWxKMiwN1tDQ,7.894495,98.298619,route,83150,กะทู้,8302,2024-01-31,กะทู้,8302,0.50,0.00
2,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),1889.0,0.0,612.0,1277.0,โรงพยาบาลซานคามิลโลโรงพยาบาลทั่วไปขนาดใหญ่,ราชบุรี,โรงพยาบาลเอกชน,RECORD,28/02/2024 13:12 น.,นางสาว จริยา บัวศรี,2024-02-28,aa40eacf-4e16-489f-bf4b-bba34bd86944,15666bbc-9341-40ae-b42b-c489288a7503,31 ถนนอุดมพิทยา ตำบลสวนกล้วย อำเภอบ้านโป่ง ราช...,"31 Soi Udum Pitthaya Khang Rong Rian Hok Heng,...",RANGE_INTERPOLATED,EnUzMSBTb2kgVWR1bSBQaXR0aGF5YSBLaGFuZyBSb25nIF...,13.813480,99.875546,street_address,70110,บ้านโป่ง,7005,2024-01-31,บ้านโป่ง,7005,0.50,306.00
3,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),310.0,2000.0,465.0,1845.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,e5062c3e-861b-44df-9fd6-459e62272db1,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,พระประแดง,1104,0.25,116.25
4,2567.0,1,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),754.0,3000.0,957.0,797.0,โรงพยาบาล บางปะกอก 3 โรงพยาบาลทั่วไปขนาดใหญ่,สมุทรปราการ,โรงพยาบาลเอกชน,RECORD,16/02/2024 9:24 น.,นางสาว จริยา บัวศรี,2024-02-16,f84ad883-2bea-4b36-ae4d-0c0059ee6697,e5062c3e-861b-44df-9fd6-459e62272db1,27/14 หมู่ 10 ถนนสุขสวัสดิ์ แขวงบางครุ เขตพระป...,"Thanon Suk Sawat, Thailand",GEOMETRIC_CENTER,ChIJ73Yei16h4jARTTUpslTDs5A,13.622237,100.539377,route,10130,พระประแดง,1104,2024-01-31,พระประแดง,1104,0.50,478.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28174,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,9551310e-ba2a-48c8-8f68-14f680585379,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,เมืองนราธิวาส,9601,1.00,342.00
28175,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,949.0,0.0,342.0,607.0,หมอกิ๊ฟลันสหคลินิก,นราธิวาส,คลินิก,ONLINE,10/01/2025 15:26 น.,นางสาว อารีนา หะยีวาเงาะ,2025-01-10,2ae8194a-7022-4837-88b3-9baaab86a58e,d5ca07fe-e5b9-46b9-aeae-e2b3a69552d7,354/23 ถนนระแงะมรรคา ตำบลบางนาค อำเภอเมืองนราธ...,"354 Thanon Rangae Makkha, Tambon Bang Nak, Amp...",ROOFTOP,ChIJ8aQTNLzxszERwF2-kBj0C_A,6.412776,101.823887,street_address,96000,เมืองนราธิวาส,9601,2024-12-31,เมืองนราธิวาส,9601,1.00,342.00
28176,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.25 mg (Polipharm),6391.0,0.0,2386.0,4005.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,07a29e44-fce6-4513-8262-3f88c851d546,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,0.25,596.50
28177,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablet 1.0 mg (Polipharm) (100 tab/...,9345.0,0.0,3748.0,5597.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,1fbf75eb-0789-4d50-b7fc-ca87bdf6b76d,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,1.00,3748.00
28178,2567.0,12,(วจ. 2) วัตถุออกฤทธิ์ในประเภท 2,Alprazolam tablets 0.5 mg (Polipharm),11188.0,0.0,4407.0,6781.0,โรงพยาบาล พญาไท 2 โรงพยาบาลทั่วไปขนาดใหญ่,กรุงเทพมหานคร,โรงพยาบาลเอกชน,RECORD,28/01/2025 9:31 น.,นาง จริยา บัวศรี,2025-01-28,0ecb1383-4c8e-457d-90a1-4242ea5f5fdf,a052a759-7cfa-4daf-b965-d05043a5acc5,943-943/1 ถนนพหลโยธิน แขวงพญาไท เขตพญาไท กรุงเ...,"943 Phahon Yothin Road, Phaya Thai, Khet Phaya...",ROOFTOP,ChIJDeNU9K-e4jARO9-jMvcxZlA,13.769745,100.540678,"premise,street_address",10400,พญาไท,1014,2024-12-31,พญาไท,1014,0.50,2203.50

In [91]:
agg_gis = agg_gis.merge(
    df[['ReferCustomerName','CustomerTypeName']].drop_duplicates(subset=['ReferCustomerName']),
    how = 'left',
    left_on = ['ReferCustomerName'],
    right_on = ['ReferCustomerName'],
    validate = "m:1"
)

In [52]:
fig = go.Figure(data=go.Scattergeo(
        # center={
        #     'lat': 16,
        #     'lon': 101
        # },
        locationmode = 'geojson-id',
        geojson = geojson_district_data,
        featureidkey="properties.amp_code",
        locations= df['amp_code2'],
        lon = df['lng'],
        lat = df['lat'],
        text = df['ReferCustomerName'],
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = 'Blues',
            cmin = 0,
            color = df['nominal_wt'],
            cmax = df['nominal_wt'].max(),
            colorbar=dict(
                title=dict(
                    text="Alprazolam Nominal paid weight of Clinic"
                )
            )
        )))
fig.show()

In [53]:
fig = px.scatter_geo(
    data_frame = df,
    lon = 'lng',
    lat = 'lat',
    locationmode = 'geojson-id',
    geojson = geojson_district_data,
    featureidkey="properties.amp_code",
    locations = 'amp_code2',
    color = 'nominal_wt',
    # text = 'ReferCustomerName',
    center={
        'lat': 16,
        'lon': 101
    },
)
fig.show()

In [86]:
fig = go.Figure()

fig.add_trace(
    go.Choropleth(
        name= 'District info',
        geojson=geojson_district_data,
        locations=[f["properties"]["amp_code"] for f in geojson_district_data["features"]],
        z=[1]*len(geojson_district_data["features"]),
        featureidkey = "properties.amp_code",
        showscale=False,
        colorscale=[[0, "lightgray"], [1, "lightgray"]],
        text=[f["properties"]["amp_th"] for f in geojson_district_data["features"]],
    )
)

fig.add_trace(
    go.Scattergeo(
        name = 'GIS data of hospital and clinic premises',
        lon = df.loc[df['CustomerTypeName'] == 'คลินิก']['lng'],
        lat = df.loc[df['CustomerTypeName'] == 'คลินิก']['lat'],
        text  = df.loc[df['CustomerTypeName'] == 'คลินิก'].apply(lambda row: f"{row['ReferCustomerName']}<br>nominalwt: {row['nominal_wt']:.1f} mg", axis=1),
        # customdata=df.loc[df['CustomerTypeName'] == 'คลินิก']['nominal_wt'],
        # hovertemplate = "<b>%{text}</b><br>" +
        #           "nominalwt: %{customdata[0]:,}<extra></extra>",
        # hovertext = df.loc[df['CustomerTypeName'] == 'คลินิก']['nominal_wt'],
        # hoverlabel = df.loc[df['CustomerTypeName'] == 'คลินิก']['ReferCustomerName'],
        
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = False,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=0.5,
                color='rgba(102, 102, 102)'
            ),
            colorscale = 'Peach',
            cmin = 0,
            color = df.loc[df['CustomerTypeName'] == 'คลินิก']['nominal_wt'],
            cmax = df.loc[df['CustomerTypeName'] == 'คลินิก']['nominal_wt'].max(),
            colorbar=dict(
                title=dict(
                    text="Alprazolam Nominal paid weight of Clinic"
                )
            )
        )
        
    )
)

fig.update_layout(
    geo=dict(
        fitbounds="locations",   # zoom to Thailand boundaries
        visible=False,           # hide default world map fill
        showcountries=False,
        showland=True,
        landcolor="white"
    ),
    margin={"r":0,"t":0,"l":0,"b":0}
)

fig.show()

In [100]:
fig = go.Figure()

fig.add_trace(
    go.Choropleth(
        name= 'District info',
        geojson=geojson_district_data,
        locations=[f["properties"]["amp_code"] for f in geojson_district_data["features"]],
        z=[1]*len(geojson_district_data["features"]),
        featureidkey = "properties.amp_code",
        showscale=False,
        colorscale=[[0, "lightgray"], [1, "lightgray"]],
        text=[f["properties"]["amp_th"] for f in geojson_district_data["features"]],
    )
)

fig.add_trace(
    go.Scattergeo(
        name = 'GIS data of hospital and clinic premises',
        lon = agg_gis.loc[agg_gis['CustomerTypeName'] == 'คลินิก']['lng'],
        lat = agg_gis.loc[agg_gis['CustomerTypeName'] == 'คลินิก']['lat'],
        text  = agg_gis.loc[agg_gis['CustomerTypeName'] == 'คลินิก'].apply(lambda row: f"{row['ReferCustomerName']}<br>nominalwt: {row['nominal_wt']:.1f} mg", axis=1),
        # customdata=df.loc[df['CustomerTypeName'] == 'คลินิก']['nominal_wt'],
        # hovertemplate = "<b>%{text}</b><br>" +
        #           "nominalwt: %{customdata[0]:,}<extra></extra>",
        # hovertext = df.loc[df['CustomerTypeName'] == 'คลินิก']['nominal_wt'],
        # hoverlabel = df.loc[df['CustomerTypeName'] == 'คลินิก']['ReferCustomerName'],
        
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = False,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=0.5,
                color='rgba(102, 102, 102)'
            ),
            colorscale = 'Peach',
            cmin = 0,
            color = agg_gis.loc[agg_gis['CustomerTypeName'] == 'คลินิก']['nominal_wt'],
            cmax = agg_gis.loc[agg_gis['CustomerTypeName'] == 'คลินิก']['nominal_wt'].max(),
            colorbar=dict(
                title=dict(
                    text="Alprazolam Nominal paid weight of Clinic"
                )
            )
        )
    )
)


fig.update_layout(
    geo=dict(
        fitbounds="locations",   # zoom to Thailand boundaries
        visible=False,           # hide default world map fill
        showcountries=False,
        showland=True,
        landcolor="white"
    ),
    margin={"r":0,"t":0,"l":0,"b":0}
)

fig.write_html('C:/Users/ASUS/Downloads/gis_nominalwt_clinic_all2025-10-05.html')
fig.show()